[2018-11-28 16:24] fabiorauber opened #3 "Compatibility with Kubernetes 1.11"
Is it possible for this to work on Kubernetes 1.11? Support for K8S 1.12 is still experimental in Rancher v2.1.1

[2018-11-28 21:59] yasker commented on #3
The v0.0.1 release was made for Kubernetes v1.11 (which requires some extra configuration to enable an alpha feature gate). Unfortunately Kubernetes breaks backward compatibility with v1.12 release, so it's hard for us to support both v1.11 and v1.12. That's the reason we dropped support for v1.11.

You can still try to use v0.0.1 release with Kubernetes v1.11. The last known working version with

[2018-11-29 11:42] fabiorauber commented on #3
Thanks for the reply! I've just upgraded my Rancher installation to v2.1.2 and decided to upgrade my Kubernetes cluster to version 1.12 as well, and all worked out fine. The volumes are being dynamically created now.

I've developed a Helm chart for local-path-provisioner. I would be glad to make a PR for this if you think it would help.
https://github.com/interlegis/il-charts/tree/master/local-pa

[2018-11-29 11:43] #3 closed

[2018-12-11 10:35] AmreeshTyagi opened #4 "Not working for subPath"
Thanks for providing this provisioner. I am setting up MySQL HA using Kubernetes [Stateful example](https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/).

I have tried this provisioner, but it is creating dynamic PV & mounting also but not in DEFAULT provided directory, but on this path `/var/lib/kubelet/pods/82d24112-fc50-11e8-90e7-005056b146f6/volume-subpaths`.

[2019-01-05 05:53] kordeviant opened #5 "EACCES: permission denied, mkdir in local node path"
persisted volume on local node path /home/rancher/wp only creates directory wp but can not write to it.

[2019-01-27 17:07] steav commented on #4
Yes, same for me.

**Working without subpath** (findmnt):
`|-/vol1    datastore[/local-path-pvc/pvc-b499d69f-2252-11e9-8fc6-14dda9d41a28]            zfs     rw,relatime,xattr,noacl`

**Problem using subpath**:
`|-/vol1    overlay[/mnt/datastore/local-path-pvc/pvc-c0de97a5-2254-11e9-8fc6-14dda9d41a28/subdir1]     overlay rw,relatime,lowerdir=/var/lib/docker/overlay2/l/`

Creating the directory tree

[2019-02-05 02:26] bclouser opened #6 "Any way to persist data?"
It seems the default option is "delete" on the Persistent Volume. I suspect that is by design, but I was curious if there is even a way to be able to persist the data.

[2019-02-22 10:02] unguiculus opened #7 "Security context not respected"
I'm trying to use `local-path-provisioner` with [kind](https://github.com/kubernetes-sigs/kind). While it seems to generally work with multi-node clusters, security contexts are not respected. Volumes are always mounted with `root` as group. Here's a simple example that demonstrates this:

[code]

Here's the log from the container:

[code]

As can be seen, the mounted volume has `root` as group in

[2019-02-22 10:06] rimusz commented on #7
yes, I can confirm that too!

[2019-02-22 10:54] aojea commented on #7
I verified that the security context work in `kind`, at least these examples work https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

[2019-02-22 11:31] unguiculus commented on #7
@aojea The examples there don't use PVCs.

[2019-02-22 12:19] aojea commented on #7
yeah, just wanted to confirm that security context works under `kind` :sweat_smile:

[2019-02-23 02:45] yasker commented on #7
@unguiculus @rimusz Unfortunately, it's something outside of provisioner's control. It's kubelet who created the directory. And I just checked, there is no information

 The `hostpath` type PV doesn't support security context. It has to be root for the volume to be written in. See https://github.com/kubernetes/minikube/issues/1990 and https://unofficial-kubernetes.readthedocs.io/en/latest/concepts

[2019-02-23 02:46] yasker commented on #5
Is it caused by security context like https://github.com/rancher/local-path-provisioner/issues/7 ?

[2019-02-23 03:08] BenTheElder commented on #7
This is unfortunate :(

Does the security group info at least make it to the provisioner? We could probably fix this in a similar way to how cleanup is handled?

side note: It might be nice to make the image used for cleanup configurable, we can probably use one of the standard kubernetes images in many cases to avoid needing another image to be pulled 😅 (and use a specific version to avoid `:late

[2019-02-25 23:15] yasker commented on #7
@BenTheElder Yeah this should work. Let me give it a try.

[2019-02-26 01:27] yasker commented on #6
You can change the retain policy of the storage class to `retain`. See https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reclaim-policy

[2019-02-26 01:27] #6 closed

[2019-02-26 01:46] yasker commented on #4
@AmreeshTyagi @steav Can you elaborate the problem? Or provide a yaml for expected behavior? Does the container work?

[2019-02-26 01:53] #7 closed

[2019-02-26 02:03] yasker commented on #7
@BenTheElder @unguiculus @rimusz Alright, v0.0.3 has been released and the issue with security context should be fixed.

@BenTheElder I've also thrown in an option for "helper image", which used for creating and deleting (cleanup) directories on the node now.

[2019-02-26 02:06] yasker commented on #5
Can you share the yaml file to reproduce it?

[2019-02-26 02:17] BenTheElder commented on #7
Very cool, thank you!

[2019-02-26 12:07] kordeviant commented on #5
sorry it was fixed and needs nothing to be done. just had to chown root chmod 775 the directory.

[2019-02-26 12:07] #5 closed

[2019-03-01 15:56] spencergilbert opened #10 ""didn't find available persistent volumes to bind""
`0/5 nodes are available: 1 node(s) were out of disk space, 2 node(s) were not ready, 3 node(s) didn't find available persistent volumes to bind.`

Hey, I ran through the quick start here and ran into the above issue on our baremetal rke cluster. The two not ready are legit, but there's plenty of space on the nodes.

It doesn't look like the provisioner was called at all to create the PV?
`time="2

[2019-03-01 19:55] spencergilbert commented on #10
It helps if you confirm the requirements before testing, 1.11 on the cluster failed. 1.12 worked in minikube.

[2019-03-01 19:55] #10 closed

[2019-03-17 19:31] vchrisb opened #12 "Add arm64v8 image"
adding arm64v8 support would be great!

[2019-04-04 06:39] giminni commented on #12
I installed successfully k3s on arm64 with weave Net overlay network on a RockPro64 cluster
and made my own private local-path-provisioner arm64v8 instance using Alpine Linux instead of Ubuntu:18.04. Alpine Linux image size is 84Mi, testing was successful.

[code]
IMHO alpine linux reduce the footprint even further.

Should I make a PR using Alpine Linux?

[2019-04-04 18:25] yasker commented on #12
@giminni Sure, that would be great!

Though I don't have a setup to test arm64, so I would be unable to fix if there is anything wrong with Arm. But I am OK on accepting a PR for arm64 as long as there is no impact on running with x86.

[2019-04-16 12:33] aojea commented on #3
@yasker any chance to add/support the helm chart mentioned by @fabiorauber to the repo?
I think that it will improve the UX

[2019-04-16 15:49] yasker commented on #3
@aojea oh sure, I missed that.

@fabiorauber Thanks for the chart! Can you make a PR to `/deploy/chart`? Thanks!

[2019-04-16 21:48] anitgandhi commented on #12
@giminni we switched to Alpine in #13 , I think adding arm64/multi-arch support can build off that potentially?

[2019-04-22 16:13] IlyaSemenov opened #14 "High CPU usage"
local-path-provisioner is one of the most CPU consuming processes in my cluster:

![image](https://user-images.githubusercontent.com/128121/56510056-e2e6a200-6552-11e9-9457-5b67c9fab202.png)

It seemingly ate 20 minutes of CPU time in just 22 hours:

[code]

During that time, it only created 3 PV's:

[code]

Any ideas what's the matter? It it doing some kind of suboptimal high frequency polling? I

[2019-04-24 20:10] optimuspaul commented on #12
have any arm images been pushed anywhere?

[2019-04-25 15:51] vitkovskii opened #15 "Provisioner doesn't work if pods has tolerations/nodeSelector"
Hey, thanks for sharing provisioner. It's really cool.

Steps to reproduce:
1) Setup some kubernetes nodes with taints and mark them with some label
2) Give pods tolerations and nodeSelector, so the nodes will be scheduled only to nodes with taints:

For example:
[code]

Provisioner doesn't work in this case because it uses helper pods to create dirs. Helper pods  can't be scheduled on target node

[2019-04-25 16:31] yasker commented on #15
Maybe it's something we can add to the config

[2019-04-26 13:37] vitkovskii commented on #15
@yasker Good idea, but actually we need pod to tolerate all taints :) Check out PR #16

[2019-04-26 20:07] #15 closed

[2019-04-26 20:08] yasker commented on #15
@vitkovskii Great! Merged, thanks!

[2019-04-30 09:50] sscenglish opened #18 "Expand pvc"
didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC.

[2019-05-01 19:36] pagong commented on #14
I have the same experience.
My single node k3os cluster is running an idle instance of `dokuwiki`.
And `local-path-provisioner` is the top cpu scorer (wiithout having any work to do),
![Screenshot_20190501_213143](https://user-images.githubusercontent.com/4641150/57038012-1b743300-6c59-11e9-9d6d-adb5c6df33da.png)

[2019-05-02 06:14] snc commented on #14
Same problem here:

![grafik](https://user-images.githubusercontent.com/216730/57058824-3c1ca700-6cb2-11e9-9e25-1d39e17ccc6a.png)

After a reboot the CPU usage is ok for some time, then again rising.

[2019-05-02 16:58] ninuxch commented on #14
I had the same with version 0.0.6. The upgrade to version 0.0.7 helped so far.

[2019-05-02 18:39] yasker commented on #12
Can anyone try @km4rcus 's image? The build has been merged to master as well.

[2019-05-02 19:28] vchrisb commented on #12
@yasker can you initiate a build to docker hub?

[2019-05-02 19:36] optimuspaul commented on #12
I haven't tried that specific build but I did build it for arm myself and it is working

[2019-05-02 20:50] yasker commented on #14
I will look into this issue.

[2019-05-02 21:16] yasker commented on #14
Give v0.0.8 a try to see if solve the problem.

[2019-05-02 21:16] yasker commented on #12
v0.0.8 released and the image pushed. Let me know if it works.

[2019-05-03 07:07] vchrisb commented on #12
@yasker I don't see any multi-arch image tags on docker hub and also no manifest to support multi-arch

[2019-05-03 07:22] IlyaSemenov commented on #14
It's definitely better now, showing 0.3-0.5% CPU on average (and without "bursts" every 30 sec as I could have thought by looking at the commit). Aggregated CPU usage has also improved, it has been 1 cpu second for the first 4m 30s of real time.

I upgraded from 0.0.6 to 0.0.8 directly so not sure which version brought the actual fix.

Thank you for addressing the problem anyway.

[2019-05-03 07:22] #14 closed

[2019-05-03 20:32] yasker commented on #12
@vchrisb sorry, not familiar with multi arch build. Let me check what should I do for an arm image.

[2019-05-05 07:04] runningman84 opened #21 "Btrfs subvolume"
It would be great if the provisioner could create a btrfs subvolume with quota for each PVC.

This would also give us snapshot and backup functionality using btrfs tools.

[2019-05-08 10:28] digger18 opened #22 "imagePullPolicy: Always for busybox image will not work in offline enviornments"
The default imagePullPolicy for the busybox helper image which creates the PVC directory on the host is set to "Always".
There must be an option to set it to "IfNotPresent" for offline/airgap environments.

[2019-05-08 16:09] yasker commented on #22
We've updated the code to make sure it only pulls `IfNotPresent`.

Seems it's due to the helper image is `busybox` with default `latest` tag instead of a specific version. Before the next release, can you try to use a different helper image, e.g. `busybox:1` to see if it's always pulling?

[2019-05-09 13:57] digger18 commented on #22
Where can I change the helper image tag?
Do I need to compile the Go code for that check? (I have no idea how to do that)

[2019-05-09 16:58] yasker commented on #22
No, you don't need to recompile.

You can just redeploy the provisioner adding `--helper-image` parameter here: https://github.com/rancher/local-path-provisioner/blob/master/deploy/local-path-storage.yaml#L71

e.g. (untested)

[code]

[2019-05-11 19:03] khassel commented on #4
same for me. Seems that the volume-mount does not work with a subpath.
The `pod.yaml` example works as expected, but if you add a subpath it doesn't work.
Executing `kubectl exec volume-test -- sh -c "echo local-path-test > /data/test"` will write a test-file somewhere in `/var/lib/kubelet/pods/...` but not in the directory provided by the pvc `local-path-pvc`

[2019-05-11 20:14] khassel commented on #4
yes, exactly.

[2019-05-12 08:50] dorsany commented on #22
Hi @yasker ,
When will you create a new docker tag for the commit 431c704 ?

[2019-05-20 15:16] dorsany commented on #22
any update @yasker ?

[2019-05-21 16:10] yasker commented on #22
@dorsany @digger18 We've released v0.0.9 to include the fix. Cheers!

[2019-05-21 16:10] #22 closed

[2019-05-24 06:00] tamsky commented on #12
https://github.com/prometheus/prometheus/pull/5031 may have a useful example of "what to do" re: multi-arch

[2019-05-25 04:09] tamsky commented on #12
@yasker , please take a look at
https://github.com/rancher/dapper/blob/master/scripts/build
for a rancher-approved dapper-style example.

[2019-05-25 19:18] ljani commented on #12
`arm` image seems to be missing as well, this is what I got on a raspberry pi:

[code]

[2019-05-28 14:56] davidkarlsen commented on #3
@fabiorauber will you do a PR? Of course there's no problem using your chart - but I find it always favourable to keep the chart alongside the sw.

[2019-05-28 18:10] tamsky commented on #12
@yasker please take a look at #24 , thanks!

[2019-05-28 20:27] davidkarlsen opened #25 "be able to control image for volume provisioning"
kubectl -n local-path-storage-applog describe pod create-pvc-536367fb-8185-11e9-a1e6-eeeeeeeeeeee  :

[code]

would it be possible to pass any args to control the full image url? (host/registry/tag)? We have to run through a proxy

[2019-05-28 20:33] davidkarlsen commented on #25
ah - found the helperimage option now:
[code]

[2019-05-28 20:44] #25 closed

[2019-05-28 22:32] yasker commented on #12
@tamsky Thanks for the help! I will check it.

[2019-05-29 11:45] ap1969 opened #26 "How to re-use existing PVC?"
Hi,
I've got this working in my set up, where the PVC is created on the node, in a mounted block storage, located at /mnt/dev_primary_lon1

However, the PVC is created in a UUID-based folder:
/mnt/dev_primary_lon1/pvc-xxxxxxx

If the node is somehow destroyed, but data should be save as it's on the block storage. But if I were to re-spin-up a new node, is there any way to point it to the existing

[2019-05-29 14:50] ivankelly opened #27 "Provisioner falls over after etcd timeout"
I start a helm chart on a kind installation using rancher. The chart provisions PVs for about 6 containers. This is running on pretty weak hardware, a circleci machine runner.

The chart doesn't come up. It's waiting for PV claims to be fulfilled (they're stuck in pending). The pods in question when start staying that the pod to create the volume already exists[1]. Which it does. And the path for

[2019-05-29 20:46] yasker commented on #27
@ivankelly

ETCD down is an unexpected event we didn't design for. We don't expect it to happen.

So far what we can do is to deal with `pods "create-pvc-ee4d2be8-8214-11e9-9d5f-0242ac110002" already exists` error, which we can remove the pod and recreate it if it already exists. But we can't guarantee that if ETCD is down, there won't be any other issues.

Can you confirm if you manually delete t

[2019-05-29 20:52] yasker commented on #26
If the node is down, PVC object in Kubernetes shouldn't be affected since it's stored in the etcd.

If the directory still exists somehow, you should able to manually create a hostpath type PV with node selector to point to the directory, then bound it with the PVC you want to use. Check the PV and PVC created by local path provisioner for examples.

[2019-05-31 23:06] DrMurx commented on #4
I came across the same issue:

1) Create a single node Rancher cluster
2) Install `local-path-provisioner` storage class
3) Enable cluster level monitoring built into RKE, and enable persistent storage for Prometheus on the `local-path` storage class

[2019-06-02 20:33] khassel commented on #4
@yasker Could you reproduce this subPath issue? Can we expect a solution?

[2019-06-04 00:12] yasker commented on #4
@khassel You're right, I able to reproduce the issue now.

It seems due to https://github.com/kubernetes/kubernetes/issues/61456 . Seems it's a problem with containized kubelet. If you're using RKE, we have an issue tracking it with Rancher: https://github.com/rancher/rancher/issues/14836

I've also tried using `LocalVolume` instead of `HostPath`, but it doesn't work for RKE as well. Seems not muc

[2019-06-04 22:38] khassel commented on #4
@yasker Thanks for this info.

[2019-06-05 19:41] ivankelly commented on #27
@yasker Yes, if I delete the pods after the restart, everything seems to work again. Crashing on etcd down is perfectly fine. The bug is not returning to a working state once etcd is available again. Deleting the pod should give this.

[2019-06-12 15:45] amrecio commented on #3
Hello. I found this issue a few days ago. I didn't know about @fabiorauber's Helm chart, but coincidentally, I was already working on a chart for internal use in the company I work for. I submitted PR #28 as an alternative because as far as I know, @fabiorauber hasn't replied in a while. Feel free to accept or reject it.

[2019-07-01 17:34] mcarbonneaux opened #30 "Provisionner not follow the pod claim Node Affinity..."
i've a kubernetes cluster of two node.
i've deployed local path provisioner on it.
i deploy a mariadb with node affinity on node A with pv claim using local path provisionner...
but provisionner whant to provisione the pvc on node B in place of node A where the pod are launch (the pod as node A affinity)... and fail by timeout to wait the pvc...

how to force local path provisionner to follow the

[2019-07-03 01:56] yasker commented on #30
Hi, can you try the example at https://github.com/rancher/local-path-provisioner/blob/master/examples/pod-with-node-affinity.yaml ?

[2019-07-06 01:15] tedder opened #31 "provisioner doesn't like when nodes go away, VolumeFailedDelete"
I'm running on some bare metal servers, and if one of them goes away (effectively permanently), PVs and PVCs don't get reaped, so the pods (created as a statefulset) can't recover.

This may be okay. Let me know if you'd like a reproducable example, or if it's a conceptual thing.

Here's an example I just ran across. It's a STS of Elasticsearch pods. Having persistent data is great, but if a serve

[2019-07-07 16:23] mcarbonneaux commented on #30
ok i've used nodeName... beceause is intuitive in rancher 2 ui to used that ...

![image](https://user-images.githubusercontent.com/8479023/60771152-c551bf00-a0e3-11e9-8d33-2631b3cdc87b.png)

i've used in place :
![image](https://user-images.githubusercontent.com/8479023/60771161-f3cf9a00-a0e3-11e9-8864-424ac797177e.png)

and it's work!

[2019-07-08 18:37] yasker commented on #30
@mcarbonneaux It's limited by how Kubernetes implemented the local PV. We need to use the selector instead of setting the node name directly get it to work.

Close this issue for now.

[2019-07-08 18:37] #30 closed

[2019-07-10 16:15] danilorsilva opened #33 "Permission denied when try to create a pvc"
I am following the steps to install/configure local-path-provider.

I have a local-path-provisioner running.

I have created pvc and status is pending (waiting for the pod).

I am trying to create a nginx pod like the example and i am facing this problem:

When i check create-pvc-33e6692e.... pod i have this error:
mkdir: can't create directory '/data/pvc-33e6692e-a32d-11e9-85ac-42010a8e0036': Per

[2019-07-10 17:52] yasker commented on #33
Is there selinux or pod security policy or anything similar running on your node? That's mostly like the reason.

[2019-07-10 19:13] danilorsilva commented on #33
I think that is not the problem.

When i configure my deployment using hostpath directly i don't have any problem to mount the path and write file on the path.

For hostpath i followed this paper: https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/#before-you-begin

[2019-07-10 19:56] nielsole commented on #12
Can we /reopen this ticket as it is still waiting for #24 to be merged?

[2019-07-12 03:21] warmchang commented on #33
How to reproduce this issue?

[2019-07-12 17:49] danilorsilva commented on #33
Just following the steps on the main page.

[2019-07-13 05:13] minhnguyenvan95 opened #34 "Helm chart deploy fail for k3s"
[code]

[code]

[2019-07-13 05:15] minhnguyenvan95 commented on #34
Chart.yaml
[code]

[2019-07-13 05:28] minhnguyenvan95 opened #35 "automatically create pv for pending pvc"
I tried to run this command, but the pv is not automatic create for the pending pvc like GKE
I use local-path-provisioner deploy by helm chart with
helm install --name=local-path-provisioner ./deploy/chart/

Thank in advance
[code]

kubectl get pvc
[code]

kubectl get sc
[code]

kubectl get pod
[code]

[2019-07-13 05:50] minhnguyenvan95 commented on #35
I solved it by enable `defaultClass: true` in local-path sc

[2019-07-13 05:50] #35 closed

[2019-07-15 17:44] yasker commented on #34
@minhnguyenvan95 This is caused by how Helm interprets the version. We need to fix it.

[2019-07-15 18:41] #34 closed

[2019-08-07 10:58] AnudeepKumarDonthu opened #37 "Persistence Volume Name is dynamic (Eg :pvc-5f9522a8-b900-11e9-b3d4-005056a04e8b)"
Since the k8s local storage doesn't support dynamic provisioning yet, I found the local-file-provisioner from Rancher which seems to fill this gap. Deploying the examples mentioned in the documentation, I see PVs with random names generated:
Example:
NAME                                    STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS    AGE
data-exciti

[2019-08-07 17:59] yasker commented on #37
Hi @AnudeepKumarDonthu

Sadly it's totally out of our control. Kubernetes generates the PV name by itself and the storage driver can only accept the name generated by Kubernetes.

It's a common complaint while using any Storage Class and Dynamic Provisioner, unfortunately, we probably cannot do anything about it.

[2019-08-07 18:56] ahmadalli opened #38 "creating multiple storage classes for multiple locations"
I like to have some hostpaths (on all nodes) on `/mnt/b` and some on `/mnt/c`. is it possible for me to create multiple storage classes for multiple locations?

[2019-08-08 10:10] AnudeepKumarDonthu commented on #37
Thank you @yasker

Can you please help me with the way to pass the path dynamically as below, where $MY_HOME is a environment value stored in /etc/environment

Example:
"paths":["/$MY_HOME/mount"]

[2019-08-08 16:55] yasker commented on #37
@AnudeepKumarDonthu

You can change the configuration in https://github.com/rancher/local-path-provisioner#configuration to achieve a similar result. Also, I am not clear what do you mean by using `$MY_HOME` for path. Can you file a feature request and let's discuss there?

I will close this issue for now since we're talking about something else.

[2019-08-08 16:55] #37 closed

[2019-08-14 16:30] meyerbro opened #39 "create process timeout after 120 seconds"
Followed the tutorial not changing a single thing...

Got this in the logs:
create process timeout after 120 seconds

And it keeps trying and trying to create a pvc volume...

I can see that there's no pv created too...

Do I need to create the folder /opt/local-path-provisioner manually? (even doing that it doesn't work)

Did anyone have the same issue?

Thanks!

[2019-08-14 18:42] yasker commented on #39
@meyerbro Can you provide with the log with the local path provisioner pod? You shouldn't need to create `/opt/local-path-provisioner` manually.

[2019-08-15 09:11] meyerbro commented on #39
Sure @yasker, here it is:
`kubectl -n local-path-storage logs -f local-path-provisioner-d8d9bffb6-47b6s
time="2019-08-14T16:14:34Z" level=debug msg="Applied config: {\"nodePathMap\":[{\"node\":\"DEFAULT_PATH_FOR_NON_LISTED_NODES\",\"paths\":[\"/opt/local-path-provisioner\"]}]}"
time="2019-08-14T16:14:34Z" level=debug msg="Provisioner started"
time="2019-08-14T16:14:51Z" level=debug msg="config doe

[2019-08-15 14:46] yasker commented on #39
@meyerbro The creation process will create a helper pod on the host to help with setup the directory. It seems the pod doesn't finish after 120 seconds. Can you check why the helper pod stuck there? The name of the pod is `create-<volumename>`

[2019-08-15 15:42] meyerbro commented on #39
Hi @yasker, just checking that, currently no logs yet... Will wait the full 120 seconds and update here.

[2019-08-15 15:43] meyerbro commented on #39
After the 120 seconds the only that happened was that the container was terminated and after some seconds a new one with no logs is created...

[2019-08-15 15:45] meyerbro commented on #39
[code]

[2019-08-15 15:52] meyerbro commented on #39
I decided to give a try on hostpath from rimusz-charts to see if it's something wrong only on my cluster but it actually worked fine... I would prefer using yours as we have RKE here...

[2019-08-15 16:03] yasker commented on #39
@meyerbro When you see the `create-` pod started, it will change to `running` later? or is it always in `pending` state? Can you try `kubectl describe` for the pod? Something stopped the helper pod from working.

[2019-08-21 15:16] hdimitriou commented on #38
Just want to say that this is possible with the current setup.
You just need a separate provisioner installation and you practically install teh chart 2 times with different config
[code]
and
[code]

[2019-08-21 17:05] yasker commented on #38
@hdimitriou ha, yeah. I was considering if you use the same provisioner name. Thanks for pointing this out!

[2019-08-23 03:59] icefed commented on #27
I have same problem, there is a PR to fix it. Please check.
https://github.com/rancher/local-path-provisioner/pull/40

[2019-08-24 09:09] ahmadalli commented on #38
@hdimitriou great! how does `provisionerName` get assigned? does it have numerical order or can it be customized?

[2019-08-28 12:23] h0tbird opened #41 "securityContext fsGroup has no effect"
My setup:
[code]

**Test 1**: _emptyDir_
[code]
it works (2000):
[code]

**Test 2**: _rancher.io/local-path_
[code]
[code]

It fails (root):
[code]

Any idea what is causing that? I was expecting the group to be `2000` for the demo directory.

[2019-08-28 13:34] h0tbird commented on #41
Oh! It might be related to https://github.com/kubernetes/kubernetes/issues/81676

[2019-08-29 18:30] davidwindell commented on #33
@danilorsilva are you still experiencing this problem, I'm having similar issues

[2019-09-04 22:04] yasker commented on #38
@ahmadalli You can set it manually using `--provisioner-name` in the command line, as a parameter for `local-path-provisioner`, e.g. after [`start`](https://github.com/rancher/local-path-provisioner/blob/master/deploy/local-path-storage.yaml#L68)

[2019-09-05 17:25] #27 closed

[2019-09-05 17:27] yasker commented on #27
The fix will be included in the next release, after I addressed https://github.com/rancher/local-path-provisioner/pull/24 .

[2019-09-07 17:55] majkrzak opened #43 "Local path provisioners is restarting with following error"
[code]

[2019-09-11 17:52] NicklasWallgren commented on #14
Still an issue with rancher/local-path-provisioner:v0.0.9.

k3s crictl stats
[code]

The cluster is only running the https://github.com/helm/charts/tree/master/stable/prometheus-operator I guess it's related to the metrics polling.

[2019-09-12 12:19] zysimplelife opened #44 "It would be good to support kubelet_volume_stats* metrics"
Hi

I would like to use this metrics from cadvisor to send alarm if any volumn uses more than 80% required storage in kubernetes environment.  local-path-provisioner however doesn't support his metrics. do you have any plan to support it or any reason to not support it?

there is a similar question on forum https://forums.rancher.com/t/kubelet-volume-stats-not-in-prometheus-stats/12390/2

[2019-09-25 16:51] tamalsaha opened #47 "Release?"
We would like to see a release with https://github.com/rancher/local-path-provisioner/pull/46 pr. We are looking to use this with Kind in Github actions.
https://github.com/kubernetes-sigs/kind/issues/865

Can you please cut a release?

Thanks.

[2019-09-25 19:13] yasker commented on #47
Local Path Provisioner v0.0.10 has been [released].(https://github.com/rancher/local-path-provisioner/releases/tag/v0.0.10)

[2019-09-25 19:13] #47 closed

[2019-09-26 00:24] tamalsaha commented on #47
Thank you!

[2019-09-27 20:45] yasker commented on #12
Multiarch supported in v0.0.11 release.

https://github.com/rancher/local-path-provisioner/releases/tag/v0.0.11

[2019-09-27 20:45] #12 closed

[2019-10-02 14:26] kandeshvari opened #53 "Log records starts with ERROR: logging before flag.Parse:"
K: 1.16.0
v0.0.11

now log looks like:

[code]

[2019-10-07 13:49] phlegx opened #54 "Path Provisioner deletes volume from disk"
After rebooting our development server it seems that the path provisioner **completely deleted the mongodb volume directory**.  We are using `Rancher 2.2.8` with `Kubernetes 1.14.6`

What can cause this? In our development server we use mongodb replica set helm chart but only one instance atm.

Here is the output from the `local-path-provisioner` which shows indeed that it got deleted

[code]

[2019-10-07 16:47] yasker commented on #54
@phlegx As you can see [here](https://github.com/rancher/local-path-provisioner/blob/5b3969e1d01b8520b73d933e9aa18b6a2d38a633/provisioner.go#L245), the volume will only be deleted if:
1. The corresponding PV in Kubernetes has been deleted
2. And the reclaim policy is not set to `retain`

[2019-10-15 08:58] CamelCaseNotation opened #56 "support PVC selector field"
Trying to create a PVC to use a PV that's been released. I get this error when trying to use `selector` field of a PVC to match the label `foo=bar` on my PV

[code]

[2019-10-15 18:52] yasker commented on #56
You can use `volumeName` field in the PVC to bound the PV.

[code]

`claim.Spec.Selector` is not implemented for provisioners since provisioner creates a new volume, rather than reuse an existing volume.

[2019-10-16 08:03] ahmadalli commented on #38
thanks. it worked :)
it would be good to add this to the documentation

[2019-10-16 08:03] #38 closed

[2019-10-16 08:42] CamelCaseNotation commented on #56
Okay thanks, didn't know about `volumeName`

[2019-10-16 08:42] #56 closed

[2019-10-21 22:28] yasker commented on #54
Yeah, Kubernetes document is also helpful.

I will close this issue for now.

[2019-10-21 22:28] #54 closed

[2019-11-04 14:52] BeneaAlinAndrei opened #61 "Local path storage stuck in Pending state"
Hello,

After running `kubectl apply -f https://raw.githubusercontent.com/rancher/local-path-provisioner/master/deploy/local-path-storage.yaml` on my cluster i noticed that my pod will not leave **Pending State**.

My cluster is created with Kubeadm verison 14.8, i am running the cluster on Ubuntu 18.04.3 LTS.

Please if someone knows how to pass this problem, and thank you!

https://github.com/ra

[2019-11-04 18:01] yasker commented on #61
@BeneaAlinAndrei Have you tried the examples in the readme to see if it works?

You can check the reason of `pending` state of pod using `kubectl describe pod <podName>`. Also, the log of local path provisioner would be helpful.

[2019-11-05 08:12] BeneaAlinAndrei commented on #61
I tried all the examples, they don't work, same as the pod, remain in Pending state.
The error is  Warning  FailedScheduling default-scheduler  0/1 nodes are available: 1 node(s) had taints that the pod didn't tolerate.

[2019-11-05 14:52] ahmadalli opened #62 "disabling pv affinity"
I'm using local-path-provisioner with a directory backed by gluster which is shared through all my nodes. but I can't have multiple pods with shared pvc on multiple nodes because my the pv has nodeAffinity

Is it possible to disable the node affinity of the pv?

[2019-11-05 18:16] yasker commented on #62
@ahmadalli The local path provisioner is designed for using local disk for volumes, so they're configured to always affiliate with the node.

Since you're using glusterfs, it's better for you to use a Kubernetes driver supports glusterfs.

[2019-11-05 18:29] yasker commented on #61
@BeneaAlinAndrei According to the error message `Warning FailedScheduling default-scheduler 0/1 nodes are available: 1 node(s) had taints that the pod didn't tolerate.`, your pod didn't tolerate the taint on the node, so it failed to be scheduled. Since the pod cannot be scheduled, Kubernetes decided not to call the Local Path Provisioner to create the volume.

[2019-11-05 21:40] ahmadalli commented on #62
@yasker isn't it possible to make `nodeAffinity` optional? that would solve my problem

[2019-11-05 22:15] yasker commented on #62
@ahmadalli I don't think it would be the ideal way to solve your issue. What if you mount the glusterfs into different directories on the different nodes? Local path provisioner wouldn't have a way to know that.

If you just want to use the same path on every host, you probably can use the `hostpath` volume directly.

[2019-11-05 22:52] ahmadalli commented on #62
@yasker I have an ansible playbook for mounting gluster volume so the directory would be mounted on the same directory. I like to utilize the features of pvcs and have the option to use other storage classes.
what I'm saying is it's good to have the option.

one other use case of this feature is the ability to move some pod with it's data stored in a directory to another node just by copying data

[2019-11-08 12:12] #61 closed

[2019-11-08 12:13] BeneaAlinAndrei commented on #61
Thank you, that was the problem. I didn't unlock my master node in order to deploy on him. Thank you very much!

[2019-11-15 06:52] efengx commented on #53
same question

[2019-11-26 10:28] zhaofengcumt opened #63 "pv alway store data in one node"
I have two node one is k3s-master and the another is k3s-node when i install the deployment local-path-provisioner ,it was schedulered to k3s-node,and i create a pvc with a pod to use it,but the pv always store data in   k3s-master, how can i modify it to store data in k3s-node

[2019-11-26 19:33] yasker commented on #63
The same volume would always store the data in the same node.

And where the data was stored was determined by where is the pod scheduled. You can modify the config (https://github.com/rancher/local-path-provisioner#configuration ) to disable the master node, but that also means if a new pod was scheduled to master, it won't able to get storage allocated.

[2019-11-27 01:08] zhaofengcumt commented on #63
I have already modify the config to let k3s-node store the pv

[code]

when i deploy a pod it always pending
[code]

and i see the log of ocal-path-provisioner it shows the config doesn't contain node k3s-master
[code]

[2019-11-27 01:16] yasker commented on #63
As I said, Kubernetes decides where to the pod first, then storage follows, not the other way around. The pod was scheduled to the k3s-master, so the storage must be there. Since there is no storage available on k3s-master, so the provisioning failed.

[2019-11-27 01:36] zhaofengcumt commented on #63
a pod was first schedulered to k8s-master,then the pv will be created on that node,then  i redploy the pod if i want it  run correctly it must still be schedulered to k8s-master, if it was schedulered to k8s-node there will be no pv for it to run.   is that true?

[2019-11-27 02:19] yasker commented on #63
Yes. After the storage created, Kubernetes will always try schedule the pod close to the storage.

[2019-11-27 02:19] zhaofengcumt commented on #63
ok ,thanks!

[2019-11-28 03:56] litaxc commented on #43
hitting the exact same issue

[2019-11-29 12:19] allupaku commented on #53
I have created a pull request, which should potentially fix this issue.

[2019-12-02 09:45] allupaku opened #65 "Advice Required"
our setup : worker nodes - have an nfs mount shared across using nfs mounts - fetched from ldap - for eg : folder like /nfsdata - there is a huge amount of data in the range of PetaBytes in this storage already.

Is local-path-provisioner designed for such a usecase - i assume not - as it only supports ReadWriteOnce mode and there is node affinity set. Do you think there is another module which ca

[2019-12-02 22:58] yasker commented on #43
Do you have multiple local path provisioners running at the same time? In that case, they will choose one to run, thus `leaderelection lost` for the others.

[2019-12-02 23:13] yasker commented on #65
@allupaku Local Path Provisioner is not designed for this case since data/node affinity is why it exists.

If you're using the same path across the nodes, you can simply try [`hostPath` volume type](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath) ; or if you want each pod to have access to the NFS server directly, you can use  [`nfs` volume type](https://kubernetes.io/docs/concepts/

[2019-12-03 12:06] litaxc commented on #43
No, we don’t. Only apply the same exact yaml as the README suggested. Restarting 312 times within 12 days.

[2019-12-12 13:23] odinsy commented on #56
Is it possible to define any PV name prefix?
Something like this:
[code]

[2019-12-12 18:09] yasker commented on #56
@odinsy The PV's name is not in the control of the provisioner. Kubernetes defines them and passes to the provisioner.

[2019-12-26 22:36] runningman84 opened #67 "Feature request create,delete,resize_cmd support"
In order to have a reliable setup it does not make sense to have one big volumes with a lot of pvc as folders because any single pvc could fill the whole disk.

Therefore I would like to have some additional options like this:
[code]
It would be greate to have examples for btrfs and lvm which are most commonly used... with variables for PVC name, storage size and so on we could also ensure that no

[2019-12-26 22:37] runningman84 commented on #67
https://github.com/rancher/local-path-provisioner/issues/21

[2020-01-07 13:24] h3d-haivq opened #68 "Default Node Affinity doesn't match on node created by AWS (provider Amazon EC2)"
**Basic Info**:
Rancher Version: 2.3.2
Kubernetes Version: v1.16.3-rancher1-1
Provider: Amazon EC2

**Brief Description**:
Pod which used the PVC created by this module cannot be scheduled due to the auto-generated PV's Node Affinity Rule: `kubernetes.io/hostname` = `{{someNodeName}}` doesn't match with the actual value of the node.

**How to reproduce**
- Spin up a cluster with provider is Amazon

[2020-01-09 22:53] tamalsaha opened #69 "OpenShift 3.11"
Has anyone got local-path-provisioner working with OpenShift 3.11 ? I am trying to get that working but so far unsuccessful. https://github.com/openshift/origin/issues/24377

[2020-01-14 15:13] philpep opened #70 "Why the provisioner only support ReadWriteOnce"
Why the provisioner only support ReadWriteOnce pvc and not ReadOnlyMany/ReadWriteMany.

Since it's just a node-local directory, there's no problem with having multiple writer/readers as long as the application support this.

[2020-01-14 18:43] yasker commented on #70
I am not sure I get what do you mean...

PV can only be used by the local node, and that's one node.

[2020-01-14 21:36] philpep commented on #70
Hmm, I think I misunderstood goals of this project...
I thought that volumes where bound to a node and thus pods using the volume are automatically bound (via nodeAffinity) to the same node, and in this case ReadWriteMany is possible.

[2020-01-14 21:48] yasker commented on #70
@philpep Yeah, the pod would be scheduled to the volume. But from the volume's perspective, it's still only capable of single node read/write. The pods on the other nodes cannot read/write the volume, so the volume is still RWO.

Though if you have multiple pods on the same node, they can read/write the volume at the same time. RWO is only about the node, not pods.

[2020-01-16 15:37] philpep commented on #70
Ok thanks for the explanations @yasker !

[2020-01-16 15:37] #70 closed

[2020-01-25 14:24] aimannajjar opened #72 "Customizing Provisioner Name (e.g. to mock kubernetes.io/aws-ebs plugin)"
Hello -
We have a use case where we would like to _mimic_ the existence of AWS volume plugin on k3s, by using something like local storage path.

I noticed in the [source code](https://github.com/rancher/local-path-provisioner/blob/da26716a7d28f4830fa877597fb9c0e2d8cbc73c/main.go#L60-L64) that the Provisioner Name is supports a flag with the name `PROVISIONER_NAME`.

I've deployed the following lo

[2020-01-27 07:18] AntonSmolkov commented on #4
Hi!
Workaround:
[code]

Source: https://vividcode.io/prometheus-operator-persistence-with-rancher-local-path-provisioner/

[2020-01-27 13:47] aimannajjar commented on #72
I'm closing this as I was able to work around it by creating my own Kubernetes controller for now.

[2020-01-27 13:47] #72 closed

[2020-02-05 10:03] mschae opened #73 "High CPU Usage"
See #14

I am using k3s on a i5 and the local path provisioner (version v0.0.11) sits at 18% CPU:
![grafik](https://user-images.githubusercontent.com/473241/73830577-2f128280-4805-11ea-8139-eec5fd2c1ee2.png)

Steps to reproduce:
1. Install k3s on x86 Hardware
2. Use the local path provisioner

Interestingly enough I am also running k3s on a cloud server, not using the local-path-provisioner (but h

[2020-02-12 13:10] nijov opened #74 "docker URL when in corp set up"
How to configure docker registry URL to a private docker registry? Provisioner look for a busybox image from dockerhub to create the folders? How to set up provisioner in air gaped env?

[2020-02-12 18:46] yasker commented on #74
You can refer to https://github.com/rancher/local-path-provisioner/issues/22#issuecomment-490984554 to setup custom image for the busybox image.

[2020-02-24 20:45] liyimeng opened #75 "Should contrllor run as statefulset instead of deployment?"
Citing from here:

https://arslan.io/2018/06/21/how-to-write-a-container-storage-interface-csi-plugin/

What do you think @yasker ?

[2020-02-24 23:50] yasker commented on #75
Local path provisioner has the ability to scale and use the leader election mechanism to ensure only one process at any given time is in charge of the provisioning. In the HA scenario, if the leader failed due to any reason, the other provisioners will pick up the request. So we don't need to make sure the scale must be 1.

[2020-02-25 15:43] RobertoMachorro opened #76 "Are these error messages?"
I followed the instructions in the [README.md](https://github.com/rancher/local-path-provisioner/blob/master/README.md). Everything seems to be working perfecty until it's time to write data to the volume (via the pod). A bunch of log lines are spit out and nothing is written:

**kubectl exec volume-test -- sh -c "echo local-path-test > /data/test"**
[code]

They don't look like critical errors an

[2020-02-26 05:50] yasker commented on #76
@RobertoMachorro I don't think those are generated by Local Path Provisioner.

[2020-02-26 14:14] liyimeng commented on #75
Create thanks for the explanationm @yasker ! It is good that we already has this covered. ;)

[2020-02-26 14:14] #75 closed

[2020-03-01 11:02] REBELinBLUE opened #77 "[FEATURE REQUEST] More obvious folder names"
This is a feature request but I would like to suggest a change to how the folders are named.

When browsing the file system the names are non-obvious, other provisioners, such as the NFS provisioner include the namespace and claim name in the folder name along with the PV name.

So where you have https://github.com/rancher/local-path-provisioner/blob/master/provisioner.go#L183-L184

NFS provisione

[2020-03-01 18:52] yasker commented on #77
Sounds good. We need to make sure the existing volumes won't be impacted.

I was against using the PVC name since it's not cluster-wide unique and can cause confusion (even with the namespace) if the PV was reused. But I like the NFS provisioner's approach since it also put the PV name into the path.

So I think something like: `<pv-name>_<pvc-namespace>_<pvc-name>` would be good. It might a bit m

[2020-03-03 20:28] REBELinBLUE commented on #77
I'm having a play around with it this evening. I don't really know much about StorageClasses and PVs but my understanding is nothing will be needed to make it continue working with existing volumes because the path will be defined in the PV which has already been provisioned won't it?

[2020-03-04 11:59] dorsany commented on #38
so is it considered as a feature request to support 2 `storageClasses` in one `local-path-provisioner` controller to support multiple locations ?

[2020-03-08 10:00] embcla opened #79 "Unknown Permission Issues"
Hi guys

I've been using the lpp for some time, then I deicided to try something new.

Use case: edge cluster with shared folders
Status: in vm simulation, using vbox shared folders

Configuration: lpp cm updated to point to shared folder /persistentvolume instead of /var/lib/rancher/k3s/storage

Issue: nginx can read files from the persisten volume configured on the shared folder without issues,

[2020-03-09 05:43] yasker commented on #79
Prometheus used to have some permission issue, see https://github.com/coreos/prometheus-operator/issues/541 .

Does it work if you're not using the vbox shared folder?

[2020-03-09 08:16] embcla commented on #79
Hi @yasker

I do not use the prometheus operator, rather the stable/prometheus helm chart.
And yes: Prometheus works just fine with the lpp configmap untouched. But that means it creates a random volume on a random node at initial startup.

Thanks for the pointer to prometheus issues, to be fair I did not specify the storage class, I changed the default configmap for K3S' local-path-provisioner de

[2020-03-13 00:23] RobertoMachorro commented on #76
@yasker you are correct, don't know where they are coming from, but they don't seem to affect volume setup.

[2020-03-13 00:23] #76 closed

[2020-03-16 18:14] peregrinator commented on #68
We're experiencing the same issue. The PV is provisioned correction but the node affinity label is not correct and there's no way to change it.

Any advice or workarounds here?

[2020-03-18 00:10] peregrinator commented on #68
Follow up here: the problem (at least for our cluster) is that local-path-provisioner isn't working with the Rancher node pool way of setting the `kubernetes.io/hostname` label.

When using node pools RKE is setting `kubernetes.io/hostname` to be a variation of the node pool name. Eg. node pool `workers-a` results in hostname settings of `workers-a1`, `workers-a2`, etc.

This obviously conflicts w

[2020-03-18 09:03] #77 closed

[2020-03-18 17:13] yasker commented on #68
@peregrinator Thanks for the analysis.  It sounds like this line is the culprit:
https://github.com/rancher/local-path-provisioner/blob/655eac7962bc1dbafb4bdec60b86bc8bc76b307c/provisioner.go#L179

Currently, we just use `node.Name` for the node affinity. In the case of `kubernetes.io/hostname` is different from `node.Name`, it seems we should use the value of `kubernetes.io/hostname` instead.

Bu

[2020-03-26 00:08] skwee opened #80 "multiple local-path-provisioner for different host volumes"
**Question:**
A single local-path-provisioner is working fine for me.
I have two different host volumes on my nodes (fast local ssd on /mnt/sdd, slow glusterfs on /mnt/gvol)
Might it be possible to setup two seperate storage classes with its own local-path-provisioner or is this out of scope ?

[2020-03-26 10:47] skwee commented on #80
works by adding additional deployment and storage class. Sorry for the noise.

[2020-03-26 10:47] #80 closed

[2020-04-03 20:26] rbren opened #81 "VolumeSnapshot support?"
Is it possible to support [VolumeSnapshots](https://kubernetes.io/docs/concepts/storage/volume-snapshots/), e.g. by making a copy of the directory?

[2020-04-20 01:55] itsogkyc opened #82 "Issue about pvc"
When pod is deleted , can pvc be deleted automatically?

[2020-04-20 02:02] yasker commented on #82
PVC deletion is up to the user since it's persistent and has a lifecycle longer than the pod. PV can be deleted along with PVC is reclaimPolicy is `delete`. See https://kubernetes.io/docs/concepts/storage/persistent-volumes for details.

If you don't want persistent volume, you can use `emptyDir` instead.

[2020-04-21 16:35] cmoulliard opened #83 "Error: attempting to acquire leader lease local-path-storage/rancher.io-local-path..."
## Issue

When I create a `kind kubernetes cluster` which uses as default StorageClass - `rancher/local-path`, then a `pv` or `pvc` cannot be created as the Log of the rancher provisioning controller is reporting the following election error
[code]

What could be the issue ?

[2020-05-03 03:22] mshade commented on #73
I'm seeing this as well, with v0.0.11. For me, cpu usage starts low if I delete the pod and let it recreate, then after a while I see it back up in my top consumers.

I've just updated the manifest to v0.0.12 and will see if the issue persists.

[2020-05-08 07:05] lsoica commented on #70
@yasker I also hit this limitation. My use case is that I am buiding a platform that could be installed both as single node k8s and multi node. For single node I am using a local storage provisioned, for multi node I'm leveraging rook. Now, I would like that for the apps deployed on top, the underlying storage provider to be transparent.

Some of the apps would need a storage class for shared volu

[2020-05-11 12:46] iirekm opened #84 "local-path-provisioner doesn't work on clusters without internet"
Fixing Helm chart is easy: add HELPER_IMAGE with env var to point to the proper address of busybox.

But additionally imagePullSecrets has to be added to the create-xxxx pods generated by the provisioner and there's no way to do it.

[2020-05-14 13:50] varac commented on #77
Nice to see this feature merged, can you please release a new version so we could profit from this ?

[2020-05-15 20:41] damoon opened #85 "enable velero backups by using local instead of hostpath"
by using local instead of hostpath it would be possible to use velero with restic for backups.
velero with restic for volume backups can not support to backup host-path, but local is supported.

i use cassandra with rancher/local-path-provisioner for volumes to get bare metal disk performance, but backups are also nice...

velero limitations
https://github.com/vmware-tanzu/velero/blob/master/site/

[2020-05-19 08:58] yesnomaybeyes commented on #85
I'm looking at this too, would LOVE to use Velero with local-path-provisioner, especially with k3s.

@damoon have you made the change mentioned and tried it with success? I'm going to try to do it this week but wanted to know if you saw any issues yourself.

[2020-05-19 09:10] ariep commented on #77
Is there a release coming up that will include this?

[2020-05-21 06:04] yasker commented on #77
@varac v0.0.13 has been released. Enjoy!

[2020-05-21 21:33] damoon commented on #85
i have not implemented or tested anything yet.
i hope for some plausibility feedback from the developers before putting one more thing on my todo list.

for now i use https://github.com/maorfr/cain to backup cassandra.

[2020-05-26 00:12] 0xMH commented on #70
I hit this exact limitation just lately when I was testing ReadWriteMany on kind. I know that being on single node RWX isn't need but does it causes any side effects hence its a restriction?

[2020-05-28 07:54] ariep commented on #85
In order to enable Velero backups, I implemented this change locally. It seems to work fine.

I didn't replace the use of hostPath in the "helper pods", I wasn't sure if that makes sense. It might be useful to replace as well, if only to not depend on the availability of hostPaths.

Are you interested at all in a pull request with my changes? It would need some further work on documentation to mak

[2020-05-28 14:29] yasker commented on #85
@damoon I remembered the reason we're not using Local volume at first is it requires an existing directory, while HostPath can create it automatically for you. But later we'd introduced the helper pod on creation to help on the directory creation anyway, so it shouldn't matter anyway.

@ariep PRs are welcome, drafts are fine too. You said you didn't change the usage of HostPath, so what part did y

[2020-05-30 12:32] cruizer commented on #39
Not sure if the root cause is the same as for @meyerbro , but I am seeing similar issues on *CentOS Linux release 8.1.1911 (Core)* with **SELinux set to Enforcing** and it looks like the local path directory's creation is blocked:

[code]

After `setenforce 0` to disable SELinux temporarily, the problem is gone, the PVCs are bound.

[2020-06-02 16:40] cruizer commented on #39
Hello @yasker, should I open a separate issue for my SELinux related root cause in https://github.com/rancher/k3s-selinux ? The SELinux policy RPM is installed by the way.

Thanks a bunch.

[2020-06-02 22:30] yasker commented on #39
@cruizer Yes, can you create a separate issue. It's clear that your issue is caused by SELinux.

[2020-06-04 12:37] nvtkaszpir commented on #81
VolumeSnapshots are bit more complex than just simple file copying.

If you just look for some backup process then local-path-provisioner is just using a directory/path in container - so you can copy fie but it is advised to stop container before file copying to avoid file corruptions, especially if the app stores extra data in memory (such as databases).
Something like this:
- stop app container

[2020-06-04 12:44] rbren commented on #81
Yeah I understand that implementing the VolumeSnapshot API would involve a lot of work.

I'm specifically interested in being able to run tests that use the VolumeSnapshot API. Ideally I'd be able to do this with a KIND cluster and local-path-storage.

[2020-06-04 12:47] nvtkaszpir commented on #18
This is no longer valid at least as of version 0.0.14

When trying to change pvc (from 2gi to 40Gi) there is an error:
[code]

[2020-06-04 13:37] cruizer commented on #39
OK, done, I have opened: https://github.com/rancher/k3s-selinux/issues/9

Thank you!

[2020-06-04 13:45] nvtkaszpir commented on #81
You could try to run different provisioner one provisoner on top of another, if supported :D

[2020-06-04 18:05] yasker commented on #18
Currently, the volume size for the local path provisioned doesn't have a quota, so the size used by the pod can be bigger.

[2020-06-05 08:37] chgl opened #89 "Publish Helm chart in a chart repository to simplify installation"
Having to download the repository to install the provisioner via the helm chart is a bit more inconvenient than if it were available via a chart repository. A central repository for all Rancher charts could be hosted directly via GitHub Pages (see https://medium.com/@mattiaperi/create-a-public-helm-chart-repository-with-github-pages-49b180dbb417).

I see that there already is a GitHub repo (https:

[2020-06-08 10:01] felixfriedrich commented on #85
I am very interested in being able to use Velero with the `local-path-provisioner`. Is there anything I can do or help with to make this happen?

[2020-06-08 17:20] usrbinkat commented on #33
resolved with steps here https://github.com/rancher/k3s/issues/1823

[2020-06-08 22:13] identitymonk commented on #33
Hi,

I got it resolved by disabling SELinux... this is not optimum. But it was a main difference between an instance I got it working on and one I got it in error. (In my case, it was the installation of Hashicorp/Consul as an Helm chart).

The Audit log for the action related to the permission denied was:

I will try to dig it more

[2020-06-11 02:54] usrbinkat commented on #33
Confirmed Findings
1. Deploy CentOS 8
2. Deploy k3s from scratch
3. Disable selinux
4. Deploy example pvc backed nginx demo per docs
5. observed the issue is resolved
[code]

[2020-06-11 08:23] ariep commented on #85
OK good, I opened a pull request with only the minimal changes I made thus far. It would require more work, at least in documentation.

I did change the PersistentVolume objects that are created, replacing HostPath by Local. I didn't change the temporary hostPaths in the helper pods though.

[2020-06-12 16:50] identitymonk commented on #33
refer to [K3s Issue 1821](https://github.com/rancher/k3s/issues/1821)

[2020-06-15 09:32] gbonnefille opened #93 "Add k8s-sig-storage topic"
Adding k8s-sig-storage will help to discover this project when looking at topic:
https://github.com/topics/k8s-sig-storage

[2020-06-17 06:03] nicktming opened #95 "add scripts to make it configurable for users when add/removing a dir"
when provisioning a pv, some users might want to add some operations besides (mkdir -p or rm -f), but now it is hardcoded in local-path-provisioner project.

i made some changes to make it configurable for users, i put it in ConfigMap(https://github.com/nicktming/local-path-provisioner/tree/dev-scripts/deploy/cm) when adding or removing a dir, the helper pod read add.sh and del.sh to config cmdsFo

[2020-06-17 14:44] vvanouytsel opened #96 "Include busybox image to k3s-airgap-images tarball"
K3s supports complete [air-gapped](https://rancher.com/docs/k3s/latest/en/installation/airgap/) installations.

A 'k3s-airgap-images' tarball is available for [download](https://github.com/rancher/k3s/releases) which includes all necessary docker images.

Even though the [local-path-provisioner](https://github.com/rancher/local-path-provisioner) image is included in the image, the local-path-provi

[2020-06-17 14:55] vvanouytsel commented on #96
I figured this should be posted in the k3s project.
https://github.com/rancher/k3s/issues/1920

[2020-06-17 14:55] #96 closed

[2020-06-18 11:39] hwaastad commented on #84
@yasker this would be a minor change I think by extending the podpec in provisioner.go:
[code]
We have met this issue our self having to use a private docker proxy.
I can add a PR for this one, but in my simple impl (since I have a limited knowledge of the go-client) I've added a pullproxy option to the provisioner (similar to the --helper-image). (Would probably be best if it was injected from th

[2020-06-21 03:32] sstubbs opened #97 "Add A Second Storage Class"
I have two different mounted volumes. I would like two different storage classes Is there any way to configure this provisioner to add a second storage class so I can specify in PVC which to use?

[2020-06-21 03:56] sstubbs commented on #97
Or perhaps run two deployments?

[2020-06-21 10:51] sstubbs commented on #97
I was using the manifests and did not try the helm chart. This is very easy to do in the helm chart by just installing two releases with values.

[2020-06-21 10:51] #97 closed

[2020-06-22 23:57] appanycd commented on #89
+1

[2020-06-23 22:59] yasker commented on #89
We're working on adding local path provisioner to a Helm repo.

[2020-06-23 23:41] yasker commented on #93
Done. Thanks for pointing it out!

[2020-06-23 23:41] #93 closed

[2020-06-23 23:57] yasker commented on #95
@nicktming I like that idea. Yes, we can make them configurable.

There might be more we can do, e.g. set a quota for btrfs if needed if we implement certain parameter replacement. But that would be for later.

[2020-06-24 00:08] yasker commented on #84
Seems we should add an image pull secret option in the cmdline.

[2020-06-24 02:55] avairava commented on #18
Does local-path-provisioner supports expanding the volume provisioned by it? When I tried to expand the volume, it complains about the unavailability of plugin capable of expanding the volume.

"Ignoring the PVC: didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC."

[2020-06-24 07:55] vivianforzj opened #98 "how to set nodePathMap"
I tried:
[code]

and got the error:
[code]

So, how can I set nodePathMap? Thanks for any help

[2020-06-24 12:15] avairava commented on #18
Does this mean we can keep extending the volume as long as there is availability in the disk?

[2020-06-24 12:31] nvtkaszpir commented on #18
In current implementation the disk can have 2GB and cannot be expanded, from kubernetes point of view.
But because this is just a path on the host system then from system point of view this can grow in size up to the storage limits (or quota limits applied on the underlying system).

So you cah nave PVC declared to be 2GB, but actual size of the path is 200GB.

[2020-06-24 16:48] nicktming commented on #95
@yasker i commit a pr at #99 which makes it configurable for users.

As for quota, i think users may have different requirements, for example users could use xqs_quota command at scripts if they use xfs. but it would be great if this project could set a quota regardless of file systems. I am also working on it and  i prefer to use xqs_quota command in configurable scripts now.

[2020-06-25 13:21] disaster37 commented on #4
Hi,
I have tested to patch as explain it. But after patch it, kubernetes redeploy statefullset and so overwrite the patched, ...
So it doesn't work.

Have you any idea ?

[2020-06-26 00:15] yasker commented on #85
@ariep The code part of PR looks good to me. Thanks. Can someone else give the PR a try? Make sure it works for Velero at least.

[2020-06-28 16:39] guislander opened #100 "SELinux Enforcing svirt_sandbox_file_t"
Fedora CoreOS k8s workers are configured for SELinux enforcing and targeted.

$ getenforce
Enforcing

$ cat config

# This file controls the state of SELinux on the system.
# SELINUX= can take one of these three values:
#     enforcing - SELinux security policy is enforced.
#     permissive - SELinux prints warnings instead of enforcing.
#     disabled - No SELinux policy is loaded.
SELINUX=enforc

[2020-06-30 21:35] yanjunli76 opened #101 "[FEATURE REQUEST] add a storageclass parameter to support mapping from storageclass name to nodePath"
Hi there,

We have a case where we mount two type of disks to a node, let's say /mnt/faskdisk, /mnt/slowdisk. We want some pods which are I/O bound use the fast disk and the rest of pods use slow disk. But currently there is no way to configure it in this case.

We'd like to propose to add a feature to support a storageclass parameter and map from storageclass name to nodePath.

For example, we ca

[2020-07-01 02:22] yasker commented on #101
You can achieve it by creating another deployment of local path provisioner with a different provisioner name and config.

[2020-07-01 15:37] markusressel commented on #41
I have the same problem, @h0tbird any known mitigations?

[2020-07-01 19:29] yanjunli76 commented on #101
Thanks!

[2020-07-01 19:29] #101 closed

[2020-07-02 12:44] adacaccia opened #102 "local-path-provisioner not working on any of my new 2.4.4 Rancher clusters"
Hello, here's log from the local-path-provisioner startup:

So it seems it has started well, but... nothing happens after that!
Example POD I'm trying to deploy:

[code]

No PV is created, so PODs will fail to start and enter LoopBack.
Since the installation manifest leaves the "local-path-provisioner" namespace unassigned to any Rancher project, I've also tried to move it to the "System' project,

[2020-07-02 13:13] adacaccia commented on #102
Sorry, I've got it working by looking closely at the provided sample pvc.yaml and pod.yaml.
Firstly, I tried them as downloaded, and they worked straight away!
Then I've tried to namespace them, since I was suspecting it was a namespace issue, but they've worked well also in the namespaced version!
Finally, I've made sure to really restart my failing PODs, deleting them in the first place and, as

[2020-07-02 13:13] #102 closed

[2020-07-08 09:57] Antonyab opened #104 "error retrieving resource lock local-path-storage/rancher.io-local-path"
Hello,

I am using the local path provisionner as mentioned.

It worked and the local volume persistent storage is created locally on the nodes where the pods are deployed.

After a while, I tried to create a new pvc and I detected that the local path storage pod is showing an error that is repeating each 2 seconds :

E0624 12:05:54.771144 1 leaderelection.go:331] error retrieving resource lock lo

[2020-07-08 15:51] yasker commented on #104
@Antonyab It seems you didn't apply the RBAC rule correctly. Can you try to reapply the following part of [yaml](https://github.com/rancher/local-path-provisioner/blob/master/deploy/local-path-storage.yaml)?
[code]

[2020-07-08 15:59] Antonyab commented on #104
It worked ! Thank you.

But I find this error a little bit weird because when I applied the yaml file the first time it worked.

After some time it stopped working. Do you know what could be the reason of this issue?

Thank you again for your help.

[2020-07-08 16:01] yasker commented on #104
Might be it got deleted by accident? Probably want to check other components in the yaml if they're still there.

[2020-07-09 21:14] sergeyshaykhullin commented on #89
+1

[2020-07-13 11:45] attrib commented on #4
@yasker https://github.com/kubernetes/kubernetes/issues/61456 and https://github.com/rancher/rancher/issues/14836 got closed, but from my understanding there it seems to be not really fixed? Or is this helpful and this issue could be fixed in the future?

[2020-07-16 13:32] ribx commented on #89
https://github.com/rancher/local-path-provisioner/tree/master/deploy/chart

[2020-07-20 17:21] yasker commented on #104
@Antonyab Local path provisioner won't delete the clusterrolebinding. I am almost sure there is something else deleting it, might be some malfunctioned security feature or other app or admin?

[2020-07-22 01:45] walk1ng opened #107 "Does the local-path storageclass support AllowVolumeExpansion or dynamic resize/expansion the PVC?"
If it support, could you please figure out how to do this?
I have a try to edit the local-path storageclass to add the below:
[code]
then I edit the PVC created from local-path storageclass to update the `spec.resources.requests.storage` to larger size, edit successfully but the capacity size is not change/expansion, any mistake here?

Thanks a lot!

[2020-07-27 05:56] rxbn opened #108 "Custom teardown script doesn't work"
I've tried to set a custom teardown script using Helm values:

[code]

Although the config map gets updated to the new teardown script, when I delete a pvc local-path-provisioner still deletes the pv folder instead of running the script.

Any help would be appreciated :-)

[2020-07-28 03:18] nicktming commented on #108
@rxbn
hi, i tried to reproduce your problem, but it works well.

my configMap:
[code]
and did as follows:
# ADD
[code]
# DELETE
[code]

so the pvc-bfe590db-02f7-4986-8455-789c769a2a20_default_local-path-pvc was renamed as archived-pvc-bfe590db-02f7-4986-8455-789c769a2a20_default_local-path-pvc , that was what the teardown script did.

[2020-07-28 03:18] nicktming commented on #108
@rxbn
hi, i tried to reproduce your problem, but it works well.

my configMap:
[code]
and did as follows:
# ADD
[code]
# DELETE
[code]

so the pvc-bfe590db-02f7-4986-8455-789c769a2a20_default_local-path-pvc was renamed as archived-pvc-bfe590db-02f7-4986-8455-789c769a2a20_default_local-path-pvc , that was what the teardown script did.

[2020-07-28 03:18] nicktming commented on #108
@rxbn
hi, i tried to reproduce your problem, but it works well.

my configMap:
[code]
and did as follows:
# ADD
[code]
# DELETE
[code]

so the pvc-bfe590db-02f7-4986-8455-789c769a2a20_default_local-path-pvc was renamed as archived-pvc-bfe590db-02f7-4986-8455-789c769a2a20_default_local-path-pvc , that was what the teardown script did.

[2020-07-28 04:34] rxbn commented on #108
Thanks for the tests! Do I have to recreate the storage classes in order to make the custom teardown script working? I just redeployed the helm chart.

[2020-07-28 15:13] nicktming commented on #108
there is no need to recreate the sc, but the new image of local-path-provisioner is needed.

[2020-07-28 16:34] rxbn commented on #108
I already have the latest version `v.0.0.14`

[2020-07-28 16:50] nicktming commented on #108
maybe you can build the latest image by yourself.

[2020-07-28 18:44] rxbn commented on #108
no difference...

[2020-07-28 22:34] yasker commented on #108
@rxbn I think the master should work but I am planning cut a new release this week to include the customized setup/teardown script.

[2020-08-05 20:07] frederiko commented on #107
I may be wrong, but this is ignored when using in PV.

[2020-08-05 21:56] yasker commented on #107
Local Path Provisioner doesn't take PVC size into consideration, since it's backed by a directory on the node. So there is no quota/enforcement for the volume size.

[2020-08-06 18:58] frederiko commented on #98
It's kind of annoying escaping json to be accepted with Helm --set. You will make yourself a favor by copying the `values.yaml` file, make the modification where you need and `helm install ... -f yourvalues.yaml`

[2020-08-06 19:07] rxbn commented on #108
@yasker That would be great, it'd be great if I could archive the folders instead of deleting it entirely. Maybe that would make a good built-in feature as well?

[2020-08-10 15:15] SamDecrock commented on #108
Hi, I also have the same issue.
The folder just disappears instead of running the teardown script.
When can you release a new version or how do I build the master?

[2020-08-10 15:17] softwareplumber commented on #89
+1

[2020-08-10 17:10] sadekunle opened #111 "Will local-path-provisioner separate pvc replicas across the cluster"
I'm deploying a statefulset workload with 3 replicas. I see that the local-path-provisioner deploys all pvc replicas to one node. Is there a way to separate the pvc for each replica to a different node?

[2020-08-10 18:48] yasker commented on #108
@SamDecrock @rxbn @nicktming Which Kubernetes distro you're using? I am troubleshooting this issue and found it doesn't work with Rancher RKE. But it might work with K3S.

[2020-08-10 18:49] rxbn commented on #108
I'm using K3s.

[2020-08-10 19:26] yasker commented on #85
We found an issue with `local` volume. It breaks the provisioner on RKE. Revert the change for now and keep the issue open.

[2020-08-10 19:40] SamDecrock commented on #108
I'm using Kubernetes itself installed on a single node, version 1.16.12

[2020-08-10 20:06] yasker commented on #111
The scheduling of the storage is not controlled by the local path provisioner. It will `waitForFirstConsumer` (a.k.a. pod creation/scheduling). So if you use anti-affinity for the pods for the first time creation, the volumes should follow the pod's scheduling to the different nodes.

After first time, the PV would bound to a certain node and cannot be moved after.

[2020-08-10 20:15] yasker commented on #108
@rxbn @SamDecrock can you retry using the latest master?

[2020-08-10 21:05] rxbn commented on #108
Unfortunately, it doesn't work :( I'm using the following image: rancher/local-path-provisioner:v0.0.14 on K3s v1.18.6+k3s1

[2020-08-10 21:11] SamDecrock commented on #108
With the latest master it works!

@rxbn you need to clone the repo, run `make` and then use the generated image.

[2020-08-10 21:12] rxbn commented on #108
@SamDecrock Cool! Hmm, that's good to know. But this currently goes against by deploy workflow so I'll wait until a new release gets made.

[2020-08-10 21:14] yasker commented on #108
@SamDecrock Thanks for the confirmation. I will cut a release now.

[2020-08-10 21:17] rxbn commented on #108
@SamDecrock Did you use my teardown script?

[2020-08-10 21:38] yasker commented on #108
v0.0.15 has been released. Give it a try.

[2020-08-10 21:43] rxbn commented on #108
Hmm.. now I'm getting a strange error when creating a pvc:
[code]

[2020-08-10 22:03] yasker commented on #108
@rxbn sounds like the provisioner failed to wait for the helper pod to finish. Can you check if anything wrong with the helper pod? e.g. the `setup` script.

[2020-08-10 22:06] rxbn commented on #108
@yasker A describe on the pod says:
[code]

[2020-08-10 22:10] yasker commented on #108
I don't think it can be automatically detected, so I think we should allow customization of the config name [here](https://github.com/rancher/local-path-provisioner/blob/master/provisioner.go#L371) cc @nicktming

@rxbn In the meantime, can you create the config map `local-path-config` to workaround the issue?

[2020-08-10 22:12] rxbn commented on #108
@yasker The config map was created by the Helm chart. It did work before version 0.0.15.

[2020-08-10 22:24] SamDecrock commented on #108
Yes. It’s an exact copy-paste of yours

[2020-08-10 22:26] yasker commented on #108
Yes, it because the configmap name wasn't directly referenced by the provisioner. It was changed when introducing the setup/teardown script.

So since it's created by Helm, it's better if we can figure out a way to get the name of config map directly - or we might need to give up the automatic reload of the config map.

[2020-08-11 01:34] sadekunle commented on #111
Would I need to create a pvc for each replica? Trying to deploy the 3 replicas and after the first replica is deployed I get the following error.

Warning  FailedScheduling  <unknown>  default-scheduler  0/4 nodes are available: 1 node(s) didn't match pod affinity/anti-affinity, 1 node(s) didn't satisfy existing pods anti-affinity rules, 3 node(s) had volume node affinity conflict.

[2020-08-11 01:35] nicktming commented on #108
@yasker i am using kubernetes v1.15.5

[2020-08-11 01:38] nicktming commented on #108
yes, i will follow this issue and make it a flag to customize for users.

[2020-08-11 07:59] rxbn commented on #108
@nicktming @yasker Thanks for your effort! Since I currently cannot use local-path-provsioner (I have two separate instances running for multiple storage classes), I would appreciate a quick fix.

[2020-08-11 16:28] yasker commented on #111
If there is only one PVC, it will only able to be on one node, since the data is stored in one node's hard drive.

[2020-08-11 16:30] yasker commented on #108
@rxbn I would recommend to revert back to use v0.0.14 in in the meantime for your case.

[2020-08-12 19:12] miraculixx opened #115 "deploying with custom helm release name causes PVC mount error"
What happens:

Following successful deployment of local-path-provisioner as a helm subchart, pods with a PVC of storage class `local-path` fail to start due to a volume mount error. The cause is that the provisioner helper pod cannot find the config map. Recreating the config map with the name 'local-path-config' fixes the issue.

[code]

How to reproduce:

[code]

The storage/Charts.yml includes

[2020-08-12 19:40] yasker commented on #115
@miraculixx we're aware of this issue in v0.0.15. @nicktming is working on fixing it with https://github.com/rancher/local-path-provisioner/pull/114

[2020-08-13 15:19] ThinCats commented on #111
`Statefulset` and `volumeClaimTemplates` may fit your needs

see [https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/)

[2020-08-13 20:39] yasker commented on #115
Local Path Provisioner v0.0.16 has been released. Can you check again if the issue has been fixed?

[2020-08-13 20:39] yasker commented on #108
Local Path Provisioner v0.0.16 has been released. Can you check again if the issue has been fixed?

[2020-08-13 21:40] rxbn commented on #108
@yasker Unfortunately, it did not work out of the box. I had to change the deployment spec to use the configMap name flag. I've created a pull request. #117

Can you merge this pr? I've tested it.

[2020-08-13 23:10] rxbn commented on #108
With `v0.0.17` it works perfectly! I guess this issue can be closed now 👍

[2020-08-13 23:23] #108 closed

[2020-08-14 10:57] priyavj08 commented on #22
hi,
Can I give an alpine image instead busybox for helper image?

thanks and appreciate your reply on this

[2020-08-14 11:20] priyavj08 commented on #74
hi @yasker
Can I give an alpine image instead busybox for helper image?  I can't use busybox image due to licensing issue

thanks and appreciate your reply on this

[2020-08-14 11:50] kumaya commented on #43
Any update on this ? Hitting the same issue.

[2020-08-14 16:31] yasker commented on #22
You can change that by adding `--helper-image` in the command line in the yaml.

https://github.com/rancher/local-path-provisioner/blob/master/main.go#L80

[2020-08-14 16:33] yasker commented on #43
@kumaya What's your Kubernetes version? Local Path Provisioner uses Kubernetes library for leader election. That logic is not even in the provisioner's code. So my guess is Kubernetes version might play a role here.

[2020-08-17 09:47] priyavj08 commented on #22
thanks @yasker
so can I give

 command:
        - local-path-provisioner
        - --debug
        - start
        - --config
        - /etc/config/config.json
        - --helper-image
        - alpine:3.11.3

[2020-08-17 13:14] damoon commented on #85
how does the issue look like?

[2020-08-17 19:12] yasker commented on #85
@damoon IIRC, the path cannot be found after created on the host (by the helper pod) while using RKE, so the Pod gets stuck on the pending state.

[2020-08-20 03:26] brandond opened #120 "Need to use rancher-mirrored busybox for helper image"
The [default helper image](https://github.com/rancher/local-path-provisioner/blob/master/main.go#L33) pulls busybox from the docker library. This should be changed to pull from the Rancher image mirror (docker.io/rancher/busybox), in line with other project images.

[2020-08-20 11:59] dweomer commented on #120
Hmm, it looks like there is proper support across architectures to me: https://hub.docker.com/_/busybox?tab=tags

![Screenshot from 2020-08-20 04-58-26](https://user-images.githubusercontent.com/1033444/90767335-e2bef980-e2a1-11ea-84dc-fec5439dc044.png)

Why is this necessary?

[2020-08-20 21:48] brandond commented on #120
yeah @dweomer the upstream image is fine. Our image mirroring script just doesn't support multiarch at the moment: https://github.com/rancher/image-mirror#mirroring-types

[2020-08-24 21:54] BenTheElder commented on #85
Perhaps this can be optional?

cannot be found by what, exactly?

[2020-08-25 19:47] yasker commented on #85
@BenTheElder We will need to look into the issue more to find out why. Maybe we can make it optional.

So does KIND prefer local volume too?

[2020-08-26 22:22] schmitch commented on #85
well the problem was probably `hostPathType := v1.HostPathDirectoryOrCreate` this line. i.e. the path was not created.

[2020-08-27 17:10] yasker commented on #85
@schmitch The directory creation part is already there since we're deploying the helper pod to create the directory. It seems the problem is RKE is containerized and might have issues with the local volumes. I will take a deep look later to see if it's RKE's issue.

[2020-08-27 18:14] yasker commented on #85
Yes, confirmed it's an RKE issue.

See https://github.com/rancher/rancher/issues/22061#issuecomment-682110455

[2020-09-02 13:01] nicktming opened #128 "enable helper pod configurable to meet more users requirements"
inspired by #125 needs to support block device and #126 need to support quota for size limitation which should add some volumes to helper pods, So i make the whole helper pod configurable which is more flexible for users to meet their needs.

In local-path-provisioner, it parse the users' helper pod and add its necessary information to this helper pod such as command and some parameters.

[2020-09-03 02:36] linclaus opened #129 "Why Kubernetes v1.12+."
Why required  kubernetes v1.12+ when deploying a local-path-provisioner?

[2020-09-03 02:37] linclaus commented on #129
I want to deploy local-path-provisioner on kubernetes v1.9

[2020-09-03 16:33] yasker commented on #129
The feature used by local path provisioner is only introduced to Kubernetes as a beta feature in v1.10. For v1.9, you can try to enable the `Local Volume` feature gate and to see if it works. We still cannot officially support the Kubernetes version before v1.12 though.

[2020-09-05 12:53] sergeyshaykhullin opened #131 "PVC from KubeMQ is pending"
I am using local-path-provisioner for all my sts

But when i deploy KubeMQ, it creates "same" PVC and stucking in pending state

Version:
`Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.5", GitCommit:"e6503f8d8f769ace2f338794c914a96fc335df0f", GitTreeState:"clean", BuildDate:"2020-06-26T03:47:41Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}

[2020-09-05 13:43] sergeyshaykhullin commented on #131
I found that it is KubeMQ problem

[2020-09-05 13:43] #131 closed

[2020-09-10 22:51] yasker commented on #31
Moving PVC is not possible with this provisioner, since the whole concept with local path provisioner is the storage will be always on the node.

After the node is removed, you need to scale down the workload, delete the related PVC and PV, then scale it back to create a new replacement PVC/PV for it. That's assuming your application can rebuild the missing replica on the lost node.

If you want t

[2020-09-11 08:34] rolandg commented on #31
Thanks for clarification @yasker
I understand that this is relying on the application for replication of the data and this makes sense for our use-case.
We're using it for our distributed databases. It would just be nice to have a little bit more flexibility.

If I understood everything correctly I could scale down to a specific node I could
* scale down to 0
* copy the data out of the volume(s)
*

[2020-09-11 21:46] yasker commented on #31
And you need to copy the data back once you scale up to 1. In fact at the scaleup step, you also need to

1.  (following your steps) scale up to 1 again
    1. This step will create a PVC for us to copy data to.
1. scale down to 0
1. Create another pod to use the same PVC
1. Copy data into it
1. Delete the pod but retain PVC
1. Scale up the stateful set back to 1

[2020-09-12 02:19] makeloffve opened #132 "Can provisioner directly use the configured mount path instead of creating subfolders?"
### background:
- We use the PVC created by local-path-provisioner as Kafka storage. In order to improve performance, Kafka recommends mounting multiple disks. Here is our storage configuration and kafka statefulset startup configuration:

[code]

[code]

- Our disks are respectively mounted under `/mnt/disk-simulators/kafka/1`, `/mnt/disk-simulators/kafka/2`, `/mnt/disk-simulators/kafka/3`

- We

[2020-09-15 21:13] brandond commented on #132
Yes, the point of the local path provisioner is to create local paths that are used to serve PVCs. If you just want to mount existing directories you don't need to use a provisioner, you can just mount them as HostPath volumes.

[2020-09-16 08:25] dick-twocows opened #136 "PVC stuck in pending when statefulset replicas greater than 1 on multinode MicroK8s"
This does not happen on a single node MicroK8s

Deploying a statefulset with replicas greater than 3 results in the second PVC being stuck in pending.
The nodes have shared RW access to an OCFS2 cluster with all nodes having a /data mount.

Prior to the logs of what is happening;

- Is it possible to turn off node affinity for a PV when using the local path provisioner because with an OCFS2 cluste

[2020-09-18 01:55] makeloffve commented on #132
I agree that the use of hostpath can be implemented, but this leads to the loss of the benefits of PVC

[2020-09-21 15:02] kvaps opened #137 "Unmounted storage protection"
Hi the created volumes are having `type: DirectoryOrCreate` property.
But it might be unsafe in case if data storage is unmounted for some reason, because application can be started with the empty directory created in different place.

I'm sure that using `type: Directory` will solve this problem

https://github.com/rancher/local-path-provisioner/blob/b44b2c3b5d18772aa306d3fb1210b202c353ef09/provi

[2020-09-22 08:20] sergeyshaykhullin commented on #89
@yasker Hello, any updates?

[2020-09-23 04:43] sowmyav27 opened #139 "local-path-provisioner does not work in an airgapped setup"
Testing on rancher `v2.5.0-alpha4`

- The rancher setup is airgapped.
- Deploy a custom RKE cluster - 3 nodes all roles from Rancher (enabling priv registry)
- local-path-provisioner - used is `image: rancher/local-path-provisioner:v0.0.17` and `image: rancher/local-path-provisioner:v0.0.14`
- After deploying this on the cluster, not able to deploy a PVC using storage class `local-path`
- `wait.go

[2020-09-24 06:45] zhangguanzhang commented on #69
+1

[2020-09-24 11:20] alexppg opened #140 "Incorrect parameter on chart deployment"
The helm chart adds the parameter `--service-account-name` which seems to not exist, since the pod fails with the error `Critical error: flag provided but not defined: -service-account-name`. What could be the fix?

[2020-09-27 21:06] haslersn commented on #81
Could this be supported if the backing filesystem on the host is btrfs?

[2020-09-27 21:10] haslersn commented on #21
I think this feature would be really great.

[2020-09-30 09:56] deveshk0 commented on #80
@skwee  can you explain the steps.

[2020-10-02 02:19] yasker commented on #69
We won't be able to support OpenShift 3.11 since it's using Kubernetes v1.11, which is below our version requirement (v1.12+).

[2020-10-02 02:19] #69 closed

[2020-10-02 04:18] zhangguanzhang commented on #69
same issue with the Openshift 4.5.9

[2020-10-02 04:50] dvonessen commented on #21
Hello, I think this is possible.
You can use the `setup` and `teardown` bash scripts to create subvolumes.
Requirements: local-path-provisioner version >= **v0.0.15**
Steps:
1. `kubectl apply -f https://raw.githubusercontent.com/rancher/local-path-provisioner/master/deploy/local-path-storage.yaml` to get the local-path-provisioner into you kubernetes cluster.
2. If you want to use `btrfs` tools, m

[2020-10-02 10:25] haslersn commented on #21
Is there also an environment variable for the quota in the `setup` script?

I think btrfs subvolume snapshot still needs to be supported directly in local-path-provisioner (or similar project) in order to integrate it with the [volume snapshot API](https://kubernetes.io/docs/concepts/storage/volume-snapshots/), right?

[2020-10-02 16:20] whiterm opened #141 "Add drain for PVs"
Is it possible to add a mechanism that will automatically copy PV with data between nodes? For example, DevOps wanted to remove a node from the cluster, first called the command "kubectl drain worker-1" and then set the annotation for all PVs on this node "drain-pv: true", and after the local-path-provisioner will transfer PVs with data from the old node to the new one.

[2020-10-02 23:00] yasker commented on #69
@zhangguanzhang You meant: https://github.com/openshift/origin/issues/24377 ?

[2020-10-03 10:01] zhangguanzhang commented on #69
Now I use other csi, if I meet again next time I will bring the log

[2020-10-05 08:12] bclermont commented on #140
The problem is that, the service account flag had been added [in this commit](https://github.com/rancher/local-path-provisioner/commit/b44b2c3b5d18772aa306d3fb1210b202c353ef09) on August 29.

But the chart use image `0.0.17`(https://github.com/rancher/local-path-provisioner/releases/tag/v0.0.17) released 14 Aug.

So, the helm chart is for a unreleased version of the app.

In the [docker registry](

[2020-10-05 08:42] bclermont commented on #140
I just built and publish a docker image `bclermont/local-path-provisioner:b821f90-amd64` and the chart works now

[2020-10-05 13:01] bclermont commented on #85
what if there is a daemonset that create the directory?

[2020-10-07 02:09] mamiu opened #142 "prometheus in rancher 2.5: failed to provision volume with StorageClass "local-path": claim.Spec.Selector is not supported"
In Rancher 2.5 (which was released yesterday) the installation of monitoring fails because Prometheus creates a PVC with a `selector` property. Here's the current state of the PVC (with all irrelevant fields removed):

[code]

The log of the `local-path-provisioner` pod show this error message:

[code]

I found that issue #56, but it doesn't resolve this error. And editing the PVC doesn't work bec

[2020-10-07 13:27] hwk42 commented on #142
I also encountered the same problem when install alluxio in k3s.
`  Warning  ProvisioningFailed    2m56s (x11 over 84m)  rancher.io/local-path_local-path-provisioner-5d7b5579c7-v44hc_82108aeb-d956-42e2-9c31-7ff185df52ad  failed to provision volume with StorageClass "local-path": claim.Spec.Selector is not supported`

[2020-10-08 08:23] mamiu commented on #142
Interestingly, I get exactly the same error with longhorn. Doesn't seem to be a local-path-provisioner specific problem. However, I also got this error message on more applications than just Prometheus. As a workaround I simply deleted the following lines from the PVC before deploying:

[code]

[2020-10-09 22:18] #120 closed

[2020-10-09 23:11] yasker commented on #136
@dick-twocows It's just shown as a timeout from the daemon side. during the time, can you check the helper pod status and why it failed? You should able to see it in the `local-path-storage` namespace.

[2020-10-09 23:13] yasker commented on #132
@makeloffve you can still create a PV with hostpath type and refer it using PVC, if you already know where to put the data.

[2020-10-09 23:29] yasker commented on #141
That's assuming you have a reliable mechanism to copy things over... It would be more than a single local path provisioner. Maybe Longhorn (https://longhorn.io) fits your use case better.

[2020-10-10 07:58] WhiteBahamut commented on #80
would love to know that as well. creating a new depoyment and new storage class does not work for me :-/

[2020-10-10 10:39] will-beta opened #143 "Expect for the new release and the docker image!"
Current release version is still v0.0.17 which doesn't support the flag `-service-account-name` and the helm chart on the `master` branch.

Also, wondering if there’s plan to create an official helm chart repo to make the chart visible on [helm chart hub](https://hub.helm.sh)?

[2020-10-10 16:00] retoo opened #144 "Please describe how to restore PV/PVC when recreating a cluster."
I'm planning to nuke my cluster and recreate it. With GKE we can easily do this by making the PV/PVC part of the Chart/Template. Unfortunatly this seems to be more tricky with the local path provisioner.

So, I would expect a process like this:

- kubectl get pv,pvc > storage.yaml
- tar czf backup.tar.gz  /var/lib/rancher/k3s/storage/
- /usr/local/bin/k3s-uninstall.sh
- Reinstall k3s
- tar xzf bac

[2020-10-10 21:04] alekc commented on #143
Well, it kind of makes sense. Since there was no official release yet, you should use the helm chart from https://github.com/rancher/local-path-provisioner/tree/v0.0.17/deploy

[2020-10-11 01:53] yasker commented on #143
I will get a new release out next week. Sorry for the delay. I was busy with Longhorn and other projects for the past few weeks.

[2020-10-11 09:38] will-beta commented on #143
@yasker what about the chart repo thing?

[2020-10-15 23:30] yasker commented on #137
Sorry @kvaps I need to revert this change now. Somehow it doesn't work with my RKE cluster. I always get the error when trying to start the pod:
[code]

[2020-10-16 06:18] kvaps commented on #137
But is it directory? :)

[2020-10-16 06:54] sdil opened #147 "Cannot create volume on local-path-provisioner v0.0.17"
Hi, this morning I'm creating a fresh minikube cluster for development. I'm installing local-path-provisioner from [master branch](https://raw.githubusercontent.com/rancher/local-path-provisioner/master/deploy/local-path-storage.yaml). And then I'm installing MySQL (using k8s deployment) and RabbitMQ (using Helm).

However, those 2 pods are stuck at pending status for

[code]

And then I checked p

[2020-10-16 07:16] yasker commented on #137
Yes it is…

[2020-10-16 08:10] kvaps commented on #137
Weird, what kubelet vedsion do you have?

[2020-10-16 10:48] x-Xymos commented on #147
@sdil how were you able to get it working with the older v0.0.16 version, I changed the image of the deployment but I'm having the same problem.

[2020-10-16 13:53] llndqvst commented on #147
I got this issue as well when I tried to install local-path-provisioner today. Had a working install from like 2-3 weeks ago, so that one should have been v0.0.17.

I tried changing the version to v0.0.16 but that didn't fix the problem. What I did find however is that it seems like the create-pvc-... pod is pulling the latest image of busybox. I suspect that something in the official busybox imag

[2020-10-16 14:06] mlbiam commented on #147
Same issue here.  Fresh install on kubeadm 1.19

[2020-10-16 14:21] mlbiam commented on #147
i don't think this is a busybox issue.  `absolutePath` isn't being set.  It doesn't look like `OPTARGS` is being passed to the helper:

[code]

[2020-10-16 14:29] mlbiam commented on #147
confirming, reverting to 16 makes it work

[2020-10-16 14:37] llndqvst commented on #147
Huh, that's weird. Downgrading to v0.0.16 does nothing on my end..

[2020-10-16 23:27] yasker commented on #137
I am using Rancher Kubernetes Engine (RKE), which is a containerized kubelet.

[2020-10-17 00:59] yasker commented on #147
@llndqvst @mlbiam @sdil @x-Xymos Sorry for the trouble. I've released v0.0.18 and the chart should work correctly now.

[2020-10-17 01:00] yasker commented on #143
v0.0.18 has been released with the new chart and image.

In the future, we will use the `dev` branch for the development so it won't affect the stability of the `master` branch.

[2020-10-17 01:27] will-beta commented on #143
nice work!
what about the chart repo thing?

[2020-10-17 02:25] sdil commented on #147
Thank you @yasker for the fix! :smile:

I'm closing this issue now.

[2020-10-17 02:25] #147 closed

[2020-10-17 02:52] yasker commented on #143
The chart repo is still tracking at https://github.com/rancher/local-path-provisioner/issues/89 . I haven't got time to check it yet. It will need some automation process to package and publish the chart.

[2020-10-17 03:20] will-beta commented on #89
expecting updates

[2020-10-17 11:40] lllamnyp commented on #137
I'm out of context, but most likely if you're using RKE, you will need to specify somewhere in your cluster.yml something along the lines of
[code]
refer to the RKE docs to get everything right.

[2020-10-17 12:02] WhiteBahamut commented on #62
I'd also think it should be an option which the user can turn off. Default should turned on.
If I want to turn it off, I am reponsible to make sure the local path exists on all my nodes.

[2020-10-19 15:16] dgrechka opened #149 "Does not work in k3s deployment over public internet"
In a two master nodes cluster (deployed via K3s OS) with external etcd datastore.

The provisioner pod fails to start with

[code]

There is no way to provide kubeconfig in the deployment.

Specifying
[code]
and adding kubeconfig to the ConfigMap results in

[code]

[2020-10-20 02:52] yasker commented on #149
Local Path Provisioner starts to support KubeConfig since v0.0.15, not sure which version you're using.

https://github.com/rancher/local-path-provisioner/commit/b319270a7d19cf86afec2660f9d7cf657108b2fd

[2020-10-20 07:49] baurmatt opened #150 "Delete PVC/PV/Pod automatically on node deletion"
Hey,

we're a happy user of local-path-provisioner. Thank you for maintaining it! :)

One thing we realized while testing our processes is, that it is unnecessary hard to delete the PVC/PV/Pod on node rotation. Currently we use the following steps to migrate a pod to another node:

1. `kubectl drain --ignore-daemonsets --delete-local-data worker-node1`
2. `kubectl delete pvc data-testpod-0`
3. `ku

[2020-10-20 10:05] dgrechka commented on #149
The problem was with corrupted deployment of K8s cluster with invalid values in `/var/run/secrets/kubernetes.io/serviceaccount`.
After the cluster reset the problem has gone without a need of specifing kubeconfig.

[2020-10-20 10:05] #149 closed

[2020-10-21 03:10] yasker commented on #150
There are a few things I would try to understand:
1. Why node drain didn't delete the pod? The draining step should automatically delete the pod if it's a managed pod (e.g. deployment/statefulset).
2. If the pod is going to be migrated, but data is still on the local node, how can the pod resume working on another node?
3. Regardless, how does TopoLVM delete the PVC when `kubectl delete node` happ

[2020-10-21 10:18] baurmatt commented on #150
1. Draining the node does delete the pod from the node. But the pod gets reschedule automatically with the configured PVC. Because the pod has an affinity to the PVC, it stays in the status "Pending". Later, if you delete the PVC, it isn't recreating the PVC. This seems to only happen on pod creation.
2. This is the job of the application running in the pod :) We, for example, think about using th

[2020-10-21 18:44] yasker commented on #150
Thanks @baurmatt . Yes, those make sense.

However Local Path Provisioner doesn't have a controller to monitor the deletion of the node. Also, adding a finalizer to the node object will have the side effect of preventing the node from deletion if something went wrong on the local path provisioner part. So I am hesitated to go with that approach.

[2020-10-22 07:25] baurmatt commented on #150
I'm not deeply into operator/Go development, so please forgive me if I'm missing something here. From my understanding, this is what I'm requesting here.

That's true, but isn't this exactly the use case finalizers have been created for?

Do you see a another way to handle this problem? :)

[2020-10-22 11:16] lsoica commented on #144
What worked for me to work around the PVC Lost issue was to remove the claimRef from the PV definitions when saving them.

My procedure is something like (I have many storage classes, with different provisioners. the local path provisioner only serves sc-1 and sc-2):
[code]

[2020-10-22 12:33] sstubbs opened #151 "Multiple Path Round Robin"
Hi,

Thank you for this great project. I'm currently trying to deploy multiple instances of the minio operator. Unfortunately their privisioner https://github.com/minio/direct-csi doesn't support multiple storage classes when deploying multiple instances of it like this project does.

I'm wondering is it possible for this provisioner to create the pvs in each path of a config using round robin ins

[2020-11-01 12:06] japsu opened #152 "Documentation: Multiple Local Path Provisioners in the same cluster"
Suppose there are two kinds of drives in the K8s nodes, "fast" (SSD) and "big" (HDD). Suppose I want to create two storage classes, one of which provisions volumes on the "fast" drives and one on the "big" drives. Please document how to achieve this.

From #80 I gather this is possible by deploying two instances of local-path-provisioner that are backed by directories on the fast and big drives re

[2020-11-01 12:29] japsu commented on #152
Apparently something like this (Helm values.yaml)

[code]

[2020-11-02 17:12] yasker commented on #152
Yes, using a different provisioner name will do it.

[2020-11-04 13:28] baurmatt commented on #152
We're running in a quite similar topic. It's great to see that we can deploy two provisioners for different kind of storage! :) Is there also a way to let the provisioner know which nodes have which type of storage? I don't like to specify a node affinity on the pod. It should just request a PVC from a given type and the scheduler/provisioner should decided which node can fulfill it.

[2020-11-04 23:58] yasker commented on #152
The idea of multiple provisioners is each one will use a certain type of storage. So you can choose the underlying storage using StorageClass. There isn't information available for the provisioner to make decisions regarding which pod should go to which node. If the node shouldn't be scheduled for this provisioner, you can exclude it from its configuration.

[2020-11-05 08:02] baurmatt commented on #152
This sounds good, but how do I create this mapping? I can't find an option to map a StorageClass to only some nodes.

You mean the Provisioner pod itself, right? From my understanding of the code this doesn't really matter because the provisioner will deploy a new pod to create the actual PV (which holds the node affinity). The node is already chosen by $something else -> https://github.com/ranche

[2020-11-05 22:50] yasker commented on #152
The node is chosen by Kubernetes, which will be the same node that the upcoming Pod going to use.

So you can use:
1. Configure one of your local path provisioner to use a configure that only includes e.g. `fast` disk, by specifying it in https://github.com/rancher/local-path-provisioner#customize-the-configmap .
2. Use node selector in Pod spec to schedule it to the set of pods that have `fast` d

[2020-11-06 13:13] baurmatt commented on #152
Thanks for your answer! :)

1. This assumes that all worker nodes have the same storage configuration. If this isn't the case, this won't work.
2. That's exactly what I'm trying not to :D My idea is, and tbh I'm not sure if k8s supports this, that the storage class should already be enough information to let the scheduler schedule the pod on a node which can fulfill the storage requirements of thi

[2020-11-06 17:48] yasker commented on #152
1. No. Take a look at the https://github.com/rancher/local-path-provisioner#customize-the-configmap . It can be customized per node.
2. You can create a PV manually to force Kubernetes to schedule Pod there. But StorageClass can only be involved after PVC is created and when K8s cannot find a matching PV to the PVC. The StorageClass cannot impact the Kubernetes scheduler directly.  When Kubernetes

[2020-11-08 14:27] acejam commented on #85
@yasker Any updates to this?

[2020-11-09 08:53] baurmatt commented on #152
@yasker Alright, thanks for explaining! :)

[2020-11-10 14:33] bazzilio commented on #139
@sowmyav27 look to this [PR](https://github.com/rancher/local-path-provisioner/commit/874088575ce38ca3fab3ed774e731c1c3b571dc8).
Seems, in 0.0.18 it should be fixed.

[2020-11-11 09:12] stefan-kiss opened #154 "Race condition for helper-pod when multiple pvc's are provisioned"
Hello. I think i have uncovered a bug.
If you provision multiple pv's in rapid succession the helper pod will only run for the _first_ one.

First here will mean the helper pod that first get's created might be or not the same as the same pv that _should_ be created.

How to reproduce:
On a single node kubernetes cluster:

1.
[code]

2. Instead of creating one pvc and one pod create 3 of them:
`pv

[2020-11-11 09:56] xor22h commented on #154
I got two of them with `drwxrwxrwx` and one with `drwxr-xr-x`. But, yes, they are inconsistent.

[2020-11-12 02:18] yasker commented on #154
@stefan-kiss Good catch!

Can you check if the image `yasker/local-path-provisioner:57801fc-amd64` fixes the issue in your environment? Assuming you're using AMD64. You need to replace the images from the original yaml file.

[2020-11-12 06:41] stefan-kiss commented on #154
Hello, yes, i tested and i get correct results.

For my project (since i needed to move forward very fast), i used for now the helper pod name (string from config) and the actual PV name (from functions arguments) , trim the result to 63 characters and remove '-' to be sure i don't hit the name/format problems.

But this approach (or any other that will use a unique pod) leaves open the possibilit

[2020-11-13 01:30] yasker commented on #154
@stefan-kiss Label the helper pods and clean them up once completed sounds like a good idea. Though I probably won't have time to work on it until after the thanksgiving, due to the upcoming KubeCon and other projects. Feel free to raise a PR if you need it sooner.

[2020-11-13 17:22] stefan-kiss commented on #154
Sure. I'll try ... Thanks !

[2020-11-16 18:50] unki commented on #154
@yasker could you maybe already create a new release containing your fix #155 as `v0.0.19`?

Otherwise all new users will probably hit the same issue with the current `v0.0.18` (or whenever it was introduced).
I was today upgrading from `v0.0.14`->`v0.0.19` - without checking the issues here first - and :boom: ... :)

Big thanks in advance and for all your great work!

[2020-11-19 02:37] yasker commented on #154
I've just merged https://github.com/rancher/local-path-provisioner/pull/156 which used a different suffix for the helper pod. I will leave it there for a couple of days for testing, then I can release `v0.0.19`.

[2020-11-19 19:57] fabiorauber commented on #3
Sorry everyone for not responding to this issue's comments. These days I needed to revisit our local-path-provisioner installation, and decided to make a Rancher Chart out of the official chart that was initially contributed by @amrecio, migrating it to Helm v3 as well. Published a PR in rancher/charts repo (https://github.com/rancher/charts/pull/856)

[2020-11-25 08:36] bendahl opened #157 "Feature Request: Allow ReadWriteMany in Local Path Provisioner"
Hi there,

first of all, thanks for the great work on K3S and the local path provisioner!

I was wondering whether it would be feasible to allow the creation of PVs via the local path provisioner using ReadWriteMany (or others). The rationale behind this are use cases where there is currently no CSI available for the underlying storage solution or where it is not desirable to directly handle the s

[2020-11-26 15:34] sgoodliff commented on #154
Hi,

Im also hitting this so would like to see 0.0.19 ship when ready

thanks

[2020-11-28 09:51] michaelandrepearce opened #158 "Node label for path to use"
Is it possible rather where path to use is not the default one, from what i understand you have to define this then in the config and having to keep the config in sync with nodes. Is it possible to use a label on the node to define if it uses the default or a custom config on that node, similar in nature to longhorn?

[2020-11-30 18:45] bendahl commented on #157
Hi guys,

I've been pondering this for the last couple of days and have come to the conclusion that while the use case described may hold valid in some cases, there are also some possibly problematic scenarios to consider (e.g. network storage not properly attached to all nodes, etc...). I still believe that having something along the lines of a slightly more advanced local-path-provioner that has

[2020-11-30 18:45] #157 closed

[2020-11-30 20:00] yasker commented on #158
Yeah, it's possible. Local path provisioner will need to have read permission for the nodes to get the annotations from nodes and have a setting in the config map to enable it. It will need some design and effort to make it work. PRs are welcome!

[2020-11-30 20:39] yasker commented on #154
v0.0.19 has been released. https://github.com/rancher/local-path-provisioner/releases/tag/v0.0.19

Notice the label clean up mechanism is not there, but since it's the same situation as before, we can treat it as an enhancement and close this bug for now.

[2020-11-30 20:39] #154 closed

[2020-12-07 17:14] rbren commented on #81
Have learned a bit more since opening the issue.

In particular, stopping/starting the underlying pods is not part of the VolumeSnapshot API. The user is expected to handle all of that, esp if e.g. they're running a database. The VolumeSnapshot API simply tells the storage provider to make a backup of the volume in its current state.

So I think adding VolumeSnapshot support may indeed be as easy

[2020-12-07 20:21] haslersn commented on #81
Creating a tarball or copy is not atomic and therefore is not a "snapshot". Instead, a file system with snapshot support needs to be used.

[2020-12-08 22:00] sergeyshaykhullin commented on #89
That is a prerequisite to add helm repo support?

[2020-12-16 01:06] killfill opened #162 "ZFS example"
Hi all :wave:

Just adding a tip in here, in case it saves a couple of minutes for people wanted to use ZFS with this local-path-provisioner.
At least it will for me, when i forget it :grimacing:

[code]

[2020-12-16 11:32] Exagone313 opened #163 "Prevent provisioning of persistent volumes on nodes with an empty paths list"
Hi,

I have a cluster with two nodes:
* the first node is home to deployments using *local-path-provisioner* (aka `first.example`)
* the second node (aka `second.example`) was recently added to try to add room for deployments that do not need a persistent volume.

*local-path-provisioner* has been configured to have an empty `paths` list for nodes others that the first node:

[code]

However, it s

[2020-12-18 00:00] mgoltzsche opened #164 "Pass through PVC annotations to the helper Pod as env vars"
To support advanced helper pod use cases:
* PersistentVolumeClaim annotation(s) that are passed through as env var(s) to the helper pod should be globally configurable.
* PVC name and namespace as well as PV name should always be provided as env vars to the helper Pod.

This would allow e.g. to configure a helper Pod that provisions PVs as caches based on a given cache key. The PVC/PV would only s

[2020-12-18 00:20] mgoltzsche opened #165 "Allow to configure helper Pod's data volume mount propagation"
The `MountPropagation` of a helper Pod's `data` volume mount should be configurable.

Currently this volume mount is appended to the Pod template's volume mounts.
However the `data` volume mount should be merged with the one within the Pod template if it is provided.

My use case is a [cache provisioner](https://github.com/mgoltzsche/cache-provisioner) that provisions a PV by mounting a shared cac

[2020-12-20 23:54] killfill commented on #162
Hm.. ok im sorry.
That actually did not work.

When creating or destroying ZFS datasets from a container like the podHelper's one, we need to mount the directory as 'Bidirectional', so the changes can propagate to the Host.

This is maybe related to https://github.com/rancher/local-path-provisioner/issues/165

[2020-12-21 00:02] killfill commented on #162
I guess this can be done enabling the mountPropagation=Bidirectional directly, near [here](https://github.com/rancher/local-path-provisioner/blob/master/provisioner.go#L376), but that would require the pod helper to run privileged, thus probably would need to be enabled via a flag.

Anyway, another aproach could be [something like this](https://github.com/killfill/local-path-provisioner/commit/c16

[2020-12-29 09:32] markusressel commented on #162
Thx for the effort, looking forward to trying this out in the coming days!

[2020-12-30 01:00] mgoltzsche commented on #162
PR #166 allows to specify the `mountPropagation` within the helper Pod template.

[2021-01-06 06:52] immanuelfodor opened #168 "Compatibility with k8s 1.20.0"
The hostPath provisioner project has run into a major issue: https://github.com/rimusz/hostpath-provisioner/issues/8

NFS provisioner, too: https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/25
They might have a solution though: https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/26

Is the Local Path Provisioner affected by the same problem, or is it saf

[2021-01-06 10:58] innobead commented on #168
client-go 0.17.1 currently used here, so the selflink issue should not be impacted. It will be good if u give a try, then share the result then.

ref: https://github.com/kubernetes/kubernetes/issues/94660#issuecomment-689887045

[2021-01-06 11:08] immanuelfodor commented on #168
Thanks for the info, it's good to hear!

[2021-01-06 11:09] #168 closed

[2021-01-08 08:39] innobead commented on #128
This was resolved by #127. Closing.

[2021-01-08 08:39] #128 closed

[2021-01-08 09:18] innobead commented on #53
This issue was already fixed when adopting a newer version of client-go using klog instead of glog anymore.

Closing, if have any question, feel free to reopen.

[2021-01-08 09:18] #53 closed

[2021-01-08 16:41] immanuelfodor commented on #4
FYI, we've spend half a day to debug why our Prometheus is filling up the /var/lib/docker folder when provisioned by Rancher Monitoring V2.5, and found this issue and also https://github.com/rancher/rancher/issues/29149

[code]

An update of the Prometheus Operator should help in this case, the fix was validated on the linked ticket 23 days ago.

[2021-01-09 13:15] acim commented on #70
Yes, it would be nice to have this possibility. I am running single node anyway and want to do volume backups using CronJob resource, I don't want to run backup on the host itself.

[2021-01-09 16:18] rjshrjndrn opened #170 "nfs-server-provisioner possible for RWX?"
Hi,
I'm using k3s with local-path-provisioner for pv.
But some of my apps need nfs support. Is it possible to use `nfs-server-provisioner` for `RWX` workloads ?

[2021-01-09 19:39] rjshrjndrn commented on #170
In debian based systems you've install
`sudo apt install -y nfs-common`

[2021-01-09 19:39] #170 closed

[2021-01-09 19:42] HenriTEL commented on #152
Don't forget to add the `--provisioner-name` arg the deployment if you configure it manually.

[2021-01-21 13:04] k8w opened #171 "Where can I see my files on node ?"
PVC created by local-path successfully.
PV shows path on the Node is `/opt/local-path-provisioner/pvc-b881b372-6543-4cd1-88bc-e7f01c61acf1_test_dsfhsdfhsdfhsdfh`

First I execute shell in the Pod, and make a new file to the folder of PVC.

And then I step into the Node, execute:
[code]

Expect can see the file created in Pod, but actually see no files.
But the PVC is really worked, even reboot the

[2021-01-24 17:23] nikolaishields commented on #21
I'm glad to see there is some interest on this topic.

[2021-01-25 13:46] haslersn commented on #67
@runningman84 no it wouldn't. The creator of #21 wants to have btrfs support for snapshot and backup functionality. Doing this properly requires to integrate with the [volume snapshot API](https://kubernetes.io/docs/concepts/storage/volume-snapshots/).

[2021-01-25 13:50] haslersn commented on #21
What needs to be done in order to integrate this with the [volume snapshot API](https://kubernetes.io/docs/concepts/storage/volume-snapshots/)?

[2021-01-25 13:51] haslersn commented on #162
What needs to be done in order to integrate this with the [volume snapshot API](https://kubernetes.io/docs/concepts/storage/volume-snapshots/)?

[2021-01-25 16:39] nikolaishields commented on #21
@dvonessen I can look into the permissions problems,
As I've started to look into this problem it appears that there is a [btrfs storage driver for docker](https://docs.docker.com/storage/storagedriver/btrfs-driver/). I plan on diving into the volume snapshot api later this week, but in the interim I came across the [ember-csi](https://github.com/embercsi/ember-csi) which appears to have btrfs sup

[2021-01-25 16:41] haslersn commented on #21
The btrfs storage driver for docker is about storing images, not volumes.

[2021-01-26 09:54] innobead opened #172 "Leverage the manifests in examples for e2e regression"
As title, have an e2e regression target to support running the regression based on the existing examples.

[2021-01-26 17:07] #172 closed

[2021-02-12 14:18] dchirikov commented on #70
The path can be mounted on every node via NFS/Luster/GPFS/BeeGFS or other distributed FS, so I think this limitation should be tunable. Make it sense to make this behavior configurable?

[2021-02-24 19:46] ivzhh commented on #171
Are you using k3s? In that case, you can check `/var/lib/rancher/k3s/storage/` too.

[2021-02-26 17:05] rmoreas commented on #89
[helm/chart-releaser-action](https://github.com/helm/chart-releaser-action) can help to publish charts on GitHub Pages.

[2021-03-02 17:28] innobead commented on #163
Yes, local-path-provsioner adopts `WaitForFirstConsumer` volume binding mode to wait for the consumer pod arranged. This is the native behavior of dynamic provision.

We will enhance the README a bit to make sure the case clear for the users.

[2021-03-02 17:36] innobead commented on #162
@killfill I would suggest you can contribute back to the `examples` that will be great. Thanks.

[2021-03-02 17:51] killfill commented on #162
Hi @innobead,

Thanks for your comment, but i think for this to work it needs the bidirectional mounting thing enabled.
May be a good idea to wait for that first.
What do you think?

[2021-03-02 17:57] innobead commented on #162
Sounds good to me, let's wait for #165 to resolve first.

[2021-03-02 18:05] innobead commented on #152
Closing, the question was resolved. The use case is not required to document because it's quite a general case in Kubernetes storage usage.

[2021-03-02 18:05] #152 closed

[2021-03-02 18:09] innobead commented on #151
Thanks for the idea and technically it's doable by having an extra layer to keep the path usage info. I will add to the backlog and see if any plan to do in the future.

[2021-03-06 18:32] mgoltzsche opened #175 "Allow the helper pod to read params from env vars"
Currently the helper pod receives its parameters as CLI options which requires a helper Pod script to parse them first as in [here](https://github.com/rancher/local-path-provisioner/blob/01eaa8c41a31796581b707a00418eaae7369d3aa/examples/quota/setup#L3). This result in redundant code and older scripts may not be compatible with newer local-path-provisioner versions anymore when they fail on unknown

[2021-03-06 21:16] mgoltzsche opened #178 "Make the helper Pod timeout configurable"
...because depending on the helper Pod a different timeout may be needed.

My use case is [cache-provisioner](https://github.com/mgoltzsche/cache-provisioner) that requires the helper Pod to synchronize the volume contents with an image registry which may take more than 2 minutes.

[2021-03-06 21:20] mgoltzsche opened #179 "Fix manager termination"
The manager does not terminate properly but keeps hanging until it gets killed.

Within the cluster this makes Deployment updates take more time and during local development one cannot simply terminate the manager using ctrl+c but must kill it explicitly.

[2021-03-10 11:31] christianhuth opened #181 "[BUG] Permission denied when deleting pvc"
The helper-pods are not able to delete the pv from the disk. We receive the following error message in the logs of the helper-pods:
`rm: can't remove '/opt/local-path-provisioner/pvc-47c78805-8957-428d-8996-d10b0517e043': Permission denied`

Installation of local-path-provisioner is based on https://github.com/rancher/local-path-provisioner/blob/master/deploy/local-path-storage.yaml. Additionaly w

[2021-03-10 11:31] christianknell commented on #181
/bug

[2021-03-10 13:34] dchirikov opened #182 "Volumes are created with 0777 mode"
Hi devs

I read through code and configs and find out that volumes are created with 0777 privs. I think this is suboptimal, as local users on the host can have access to the data. Would it make sense to use something like this (draft):
[code]
So volume itself is 0777, but the parent directory secured with 0700 and accessible by root only.

[2021-03-11 05:52] sergeyshaykhullin commented on #89
Also you can publish chart in OCI format https://github.com/appany/helm-oci-chart-releaser

[2021-03-14 19:26] acejam commented on #85
@yasker Bump for updates!

[2021-03-16 10:09] daicang commented on #178
Sometimes when load is high, helper pod takes > 2min to create, which cases infinite timeout when creating PV. We enlarged timeout from 2min to 4min and problem solved.

[2021-03-20 05:59] Bjohnson131 commented on #115
I'm having this issue with master on k3s 1.20.4

[2021-03-23 19:32] Bjohnson131 commented on #115
So the solution here was to kill LPP as it is deployed by default with k3s, and redeploy it yourself.

[2021-03-24 19:39] benosman commented on #85
I would also like this functionality, and give a +1 for making it optional.

I am also looking to use Rancher / RKE, so I had a look into how to get kubernetes local volumes to create.

I posted a reply on the Rancher issue:
https://github.com/rancher/rancher/issues/22061#issuecomment-806093507

To get local volumes working on an RKE cluster extra_binds must be set for kubelet.
https://rancher.com

[2021-03-27 02:19] plrunner opened #184 "mmap not supported?"
Hi,
I tried to use a local-path PV as prometheus persistent data folder, but it fails to start:
[code]
It turned out that since prometheus v2.12 data have to be stored on a filesystems which supports mmap.
Any idea why mmap is not supported?

Thank you
PL

[2021-03-27 02:25] plrunner commented on #184
BTW, the provisioner logs are ok:

[code]

[2021-03-27 19:33] deveshk0 opened #185 "How to push node affinity labels from storage class"
Currently If you define a node with empty path `[ ]`, pod get scheduled to that node though provision cannot provision volume there but pod is stuck,

is there any way we can push cutom label for scheduling from storage class ?

[2021-03-30 16:47] plrunner commented on #184
My fault. I just forgot an extra_bind in my kubelet configuration.

[2021-03-30 16:47] #184 closed

[2021-04-13 07:56] uempfel opened #186 "Use the node label for NodeAffinity rule"
- The label `kubernetes.io/hostname` defaults
   to a node's hostname.
   However, it can be overridden with
   the kubelet flag `--hostname-override`
 - Pods cannot be scheduled on clusters
   where the nodename doesn't match the `kubernetes.io/hostname` label,
   because the MatchExpression
   can never be fulfilled

[2021-04-22 08:56] coutantal commented on #85
Any update on this ? I would love to use Velero with local-path-provisioner on k3s.

[2021-05-02 21:06] rafadesu commented on #62
I support this too. It was driving me crazy that all the replicas in my deployment were being assigned to the same node until I discovered that the PV has node affinity set to a particular node. In my case, I have the same local path mounted to same NFS volume therefore node affinity is not really required in the PV.

It would be good to allow for a configuration to remove it so I don't have to in

[2021-05-03 14:45] rafadesu commented on #62
In case some people are interested, I've forked the repo and did a modification to use labels instead of node affinity and allow ReadWriteMany so this can be used as described here with mounted shared paths. I'm not very good with go so I didn't yet did it so it is configurable. But it might be useful for people that need this modification. Check this fork: https://github.com/rafadesu/local-path-p

[2021-05-05 14:39] ekristen commented on #18
While I understand there's no enforcement, if you change the underlying value you start to get errors. Is there anyway to update the provisioner to allow changing of the storage size even though it's not enforced? I programmatically generate these values at this time off of external data. I had it change and the updates to the PV start to fail.

[2021-05-11 17:09] ekristen opened #190 "Support Volume Expansion"
Since local-path-provisioner does not enforce capacity limitations, then I see no reason to throw errors in the event that someone changes the spec.capacity settings.

The following PR implements a partial fix that does away with the error messages. The remaining fix would be to simply update the PVC status to match the spec in a no-op function since it doesn't actually enforce or have to provisio

[2021-05-11 17:10] #186 closed

[2021-05-11 20:55] ccittadino-ctic commented on #142
I am also seeing this issue when deploying Rancher Monitoring to a k3s cluster. The grafana PVC comes up ok but I get the same error as the OP for prometheus. As @hwk42 stated, we cannot update the PVC directly because it's immutable.

I would like to use the workaround that @mamiu calls out but the values.yml that Rancher Monitoring uses doesn't have the 'selector' field in it at all, suggesting

[2021-05-20 11:06] maxianwei opened #191 "How can I delete deployment local-path-provisioner in kue-system namespace"
Environmental Info:
K3s Version:
 v1.20.6+k3s1

I deleted it use this command:
kubectl delete  deploy local-path-provisioner  -nkube-system

but when I restarted the k3s.service by systemctl restart k3s.service, It's recreated again.

so How can I delete deployment local-path-provisioner  in  kue-system  namespace.

[2021-05-20 12:51] sergeyshaykhullin commented on #89
I have found that @ebrianne published copy of this chart and it is available on:
- Artifacthub https://artifacthub.io/packages/helm/ebrianne/local-path-provisioner
- GitHub https://github.com/ebrianne/helm-charts/tree/master/charts/local-path-provisioner
- GitHub Pages https://ebrianne.github.io/helm-charts

[code]

For me it is sutable for temporary workaround 🎉

[2021-05-20 12:54] ebrianne commented on #89
@sergeyshaykhullin I did it because I saw that no chart was available for it. Pretty simple and working good for my needs.

[2021-05-20 12:56] ebrianne commented on #191
You need to delete the manifest in `/var/lib/rancher/k3s/manifests` and add the flag `--disable local-storage` to your k3s service.

[2021-05-24 03:10] maxianwei commented on #191
thanks @ebrianne

[2021-05-24 03:10] #191 closed

[2021-05-26 07:35] maxianwei opened #192 "Cannot create volume by local-path-provisioner"
os:  ubuntu20.04
platform:  v1.20.6+k3s1
provisioner version:  v0.0.19

root@w:~/init/deploy# kubectl get  po
...
video-cbccb664-b2hmb                      0/1     Pending             0          2m35s
video-mqtt-6bb5884f57-wn6x8          0/1     ContainerCreating   0          2m35s

root@w:~/init/deploy# kubectl get po  -nkube-system
...
helper-pod-create-pvc-b3ce46c6-8b3a-4d89-ae3b-39ef6f904d9e

[2021-05-26 14:02] ErikLundJensen commented on #163
I suggest that you use the nodeSelector on the DaemonSet to install the provisioner only at the nodes that actually has local storage.

[2021-05-26 14:03] ErikLundJensen commented on #185
See #163  which kind of the same issue. Cloud we close this issue as a duplicate?

[2021-05-26 19:12] deveshk0 commented on #185
I managed to this via allowedTopologies in storage class -

[code]

[2021-05-26 19:12] deveshk0 commented on #185
So we can close this.

[2021-05-26 19:14] #185 closed

[2021-06-02 12:45] hwk42 commented on #70
I have this issue ,but in my case ,there is only one node in the k3s cluster.this is describe pvc that is pending :
` Warning  ProvisioningFailed    9m20s (x16 over 174m)   rancher.io/local-path_local-path-provisioner-5ff76fc89d-sxbqd_992329ba-8162-47f2-9b27-6b3f14b70e0b  failed to provision volume with StorageClass "local-path": Only support ReadWriteOnce access mode
  Normal   ExternalProvisioni

[2021-06-03 02:37] hwk42 commented on #70
Is it possible to support RWX , for example, as an option? In my case,pv is created by app with RWX mode,which is required by multi node env

[2021-06-18 16:29] ekristen commented on #190
Is there any reason to not do this? If the provisioner isn't actually enforcing or check data sizes, why not allow the size to be changed so it doesn't throw an error?

[2021-06-18 21:23] lauchokyip commented on #68
/assign

[2021-06-18 21:24] lauchokyip commented on #68
I can try to work on this @yasker

[2021-06-19 15:42] lauchokyip commented on #68
It's done from here https://github.com/rancher/local-path-provisioner/issues/186

[2021-06-22 12:00] just1900 commented on #44
Also running into this issue, after digging into it, I found that kubelet will expose those `kubelet_volume_stats_*` metrics if we using local pv rather than hostpath pv, which means this issue can be solved after we resolve this issue https://github.com/rancher/rancher/issues/22061.

### Refs
For more detailed info, see the codelines below with kubelet v1.19.0, hostpath:
https://github.com/kubern

[2021-06-23 07:54] Kribylet commented on #62
This issue is relevant to my setup where I use NFS to back a shared storage path for multiple nodes. When a node fails I would like pods to be scheduled to replace those on the failed node. Mounting storage using hostPath causes SecurityContext permission issues which seems to require reckless chmod behavior to fix since kubelet handles permissions for hostPath.

I would like to be able to provide

[2021-06-23 08:50] barnybadzoo commented on #85
I am also interested in this feature. Any Updates would be great..

[2021-06-23 18:14] timvol commented on #107
@yasker Sorry for my ignorance, but does it mean when I request 1G my database or so can also have 5G?

[2021-06-23 22:54] gbarton opened #193 "How to perminantly bind a pv to a pvc after creation?"
When I am in AWS and using the aws ebs csi driver I can do a 3 step deploy to get my pv's really to be pv's such that when a deployment is removed (or redeployed/updated) that I bind the same pv to the pvc.

1. Create a pvc, pod and deploy into k8s
2. Wait for pv to be created from csi driver
3. Create a new pv in my kustomize referencing the volume that has been created
4. Modify pvc to reference

[2021-06-26 11:16] criscola opened #194 "Is there a way to automatically set each reclaim policy to Retain by default?"
As the title says, I would like to have my PVCs set to "Retain" by default, is there any way to do that without having to set the reclaim policy manually on each PVC?

[2021-07-02 15:37] Elisabettaaa opened #195 "helper pod not able to set quotas"
Hello ! i am following the example to enable quotas but everytime i got an error:

xfs_quotas: cannot setup path for mount /data:no such device or address

i am sure that the mounting point /data exists and it enables pquota.

[2021-07-13 12:00] sgblv opened #197 "insufficient permission for helper pod"
Hi!
k8s 1.19
local-path-provisioner 0.0.19 installed with helm chart.
Do I need tune clusterrole somehow?
I see error bellow in the log:

kubectl -n local-path-storage logs rancher-local-path-provisioner-9ff59fb7-gmngk

`I0713 11:53:17.280711       1 event.go:281] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"default", Name:"local-path-pvc", UID:"57e2b024-7929-41ed-9dba-cc964fb

[2021-07-13 12:27] sgblv commented on #197
I was able to fix this with, issue does not related to k8s version.
Added to ClusterRole:
[code]
Probably psp also should be in chart?

[2021-07-21 02:55] txdyzdy opened #199 "check node exists before delete volume"
If the node has been deleted when deleting a volume,  the volume will always be in "Released" state.

Should check the node exist before deleting the volume, and delete the volume if the node does not exist?

[2021-07-21 02:58] txdyzdy opened #200 "Add a command flag for threadiness"
Now there are only 4 threads working by default and no parameters are provided.

[2021-07-23 09:15] flokli commented on #44
So, to make sure I understand this - `local-path-provisioner` should switch from hostpath pv to local pv, and then we'd get all these metrics out of the box?

[2021-07-27 15:09] damoon opened #202 "v0.0.20 tag uses v0.0.19 image"
the file https://github.com/rancher/local-path-provisioner/blob/v0.0.20/deploy/local-path-storage.yaml
and the chart in https://github.com/rancher/local-path-provisioner/tree/v0.0.20/deploy/chart
use the image of release v0.0.19

would it be possible to update the docker image tags to v0.0.21 and after that release the git tag v0.0.21?
this would allow update bots like renovate to pick up the fix.

[2021-07-28 03:15] innobead commented on #202
This was resolved with the latest update. Thank you for reporting!

[2021-07-28 03:15] #202 closed

[2021-07-28 07:11] damoon commented on #202
this breaks an expected behavior for renovate (an update bot).
because it already processed the v0.0.20 update and now ignores the tag that overwrites the original v0.0.20.

[2021-08-04 11:52] flokli commented on #182
@brandond What's the state of this? Is there anything in local-path-provisioner taking care of chmods, or is it all configuration of the provisioner, such as done in k3s: https://github.com/k3s-io/k3s/commit/e6247d583c432381b5d8439ca2873fff404f86e2?

[2021-08-07 22:23] mnorrsken opened #205 "Chart version not updated"
Last app version update you forgot to update chart version. Chart is still on 0.0.19 but app is on 0.0.20

[2021-08-10 08:56] innobead commented on #205
Resolved, thanks for the reporting.

[2021-08-10 08:56] #205 closed

[2021-08-10 14:47] tonygilkerson opened #207 "Chart version was not updated 0.0.19 found expected 0.0.20"
The [Chart.yaml](https://github.com/rancher/local-path-provisioner/blob/v0.0.20/deploy/chart/Chart.yaml) file on tag `v0.0.20` still has `version: 0.0.19` and I expected it to be `version: 0.0.20`

[2021-08-11 09:19] innobead commented on #207
This was a mistake but we will not force updating the tag because it was released already. Please refer to the master branch which is using the stable version 0.0.20.

[2021-08-12 17:42] dyvol777 commented on #85
Need it too, up

[2021-08-19 03:16] lancechentw commented on #194
You can create a new StorageClass with `reclaimPolicy` set to `Retain`, and use this StorageClass in your PersistentVolumeClaim instead of the default local-path.

[code]

[2021-09-03 01:50] priyavj08 opened #208 "request to provide health check probes (liveness/readiness)"
currently no health checks like liveness/readiness probes available for the local-path-provisioner

please add these health checks to improve the reliability and provide a way to configure the timers through helm values

[2021-09-23 13:05] R-omk opened #209 "Deadlock when interacting with an unstable k8s api"
[code]

these are the last logs after which the provisioner cannot restore normal eventloop processing, besides this, the regular shutdown of the pod is also not possible, I had to forcibly delete the pod.

It should check such a scenario, maybe there is a bug.

[2021-09-25 06:47] cr1st1p opened #210 "Not working in clusters with injected containers - like with Istio; Suggest adding to docs the fix"
Hello,
I tried using this in a cluster where I have Istio running - which is injecting a side container for every pod. Because of that, the POD status is always 'Running' and it never gets completed, even if the actual work of the script ('setup') is correctly done, and ends with timeouts.

I recommend adding the following information + fix to the documentation:
There are 2 types of possible solut

[2021-09-27 09:35] raelix commented on #85
Need it too, up

[2021-09-28 15:40] Donatas-L commented on #111
@yasker How with deployment which has multiple pods (replicas) would be possible to setup storage which is local for each pod?

For example, we have 3 nodes with enough resources to schedule our pods and we want to schedule 3 pods on each node. Thus we would have PV on each node associated with each pod.

From you comment:

I would assume that's impossible if you only have one PVC. But is there an

[2021-10-04 20:56] DylanGuedes opened #211 "Current local-path-provisioner deploy example not working with latest k3d"
Hello,
the current deployment example (located [here](https://github.com/rancher/local-path-provisioner/blob/master/deploy/local-path-storage.yaml)) isn't fully working with the latest k3d versions because of a role-binding mismatch.

Steps to reproduce:
1. Create a new k3d cluster: k3d cluster create mycluster --kubeconfig-update-default=false
2. Apply the cluster config with `export KUBECONFIG=$

[2021-10-06 14:39] krakazyabra opened #212 "Cannot attach ephemeral volume"
Hello. Try to use local-path-provisioner in ephemeral colume.
in my deployment I have
[code]

First replica shedulles on node, provisioner makes pv and pvc for it, pod mounts this pvc. everything is fine.
But second and more replicas cannot start on other nodes. In pod describe I see:
[code]
In the same time provisioner reports, that it did its work
[code]

Also I see dir for this pv on node.

k8s

[2021-10-14 13:11] talcoh2x opened #214 "pvc provision does not create more then 4 helper PODs at the time"
Hi, maybe you can help me.
I'm using with local-path-provisioner and I really love it :)
my main problem is that once I'm creating 16/20 differents PVC  ( one pvc for each worker  ) I can see that in MAX i have 4 helper PODs . means that I block on 4 POD's creation each time.
there is a limit or something like that in k8s?
what can be the reason for that ?

[2021-10-31 19:55] ihsw commented on #211
@DylanGuedes I am able to reproduce this only after applying the yaml referenced here:

`kubectl apply -f https://raw.githubusercontent.com/rancher/local-path-provisioner/master/deploy/local-path-storage.yaml`

It looks like this may conflict with what comes built-in with k3s.

[2021-11-05 19:52] jimdickinson opened #215 "Bad behavior when k8s nodes are removed by the cluster auto-scaler"
When the following events happen, we see "junk" PV objects build up in our Kubernetes clusters...

- Use local-path storage class with a statefulset, scale it up
- The cluster autoscaler brings in new nodes, we get local-path PVs on those nodes
- Scale down the statefulset to zero replicas
- The cluster autoscaler removes the extra k8s worker nodes - this is fine, we do not need the data on disk
-

[2021-11-10 12:38] lclxg opened #216 "why a pod is create when pv is created"
when create  a pv  need create another pod to create file directory on the node. This will involve the whole process of creating a pod. I think this is a waste performance and time. Is deploy  deomenset  to execute create file directory a better design

[2021-11-18 07:54] HarborZeng opened #219 "All PVCs are in pending state"
[code]

[code]

[code]

[code]

[2021-11-18 14:36] akantak opened #220 "Default storage class name and config map name in helm should depend on installation name"
When trying to create two storage classes with different config maps, do not download `https://raw.githubusercontent.com/rancher/local-path-provisioner/master/deploy/local-path-storage.yaml` and customize that. There is a lack of a few configuration options there, like `--service-account-name`, `--provisioner-name` and `--configmap-name` in container command there.
Use the helm chart that is place

[2021-11-18 14:38] akantak commented on #220
Linking also https://github.com/rancher/local-path-provisioner/issues/89 as this issue describes enhancement for helm chart

[2021-11-26 14:04] Forbzy commented on #89
Im glad that https://charts.containeroo.ch and https://ebrianne.github.io/helm-charts. Will these be kept up to date with new releases? Currently version 0.0.20 is out. Any word on when rancher will do there own one?

[2021-11-26 14:11] ebrianne commented on #89
@Forbzy I ll try to keep it up to date. But it would be great if rancher would provide the chart out of the box.

[2021-11-28 19:20] alexppg commented on #140
This can be closed since there's updated images.

[2021-11-28 19:20] #140 closed

[2021-11-30 01:10] xiaods commented on #211
I have the same problem, how can I solve it?

[2021-11-30 01:22] xiaods commented on #211
update yaml from k3s repo, it will resolve this issue.

[2021-12-10 17:25] varac commented on #44
I am using `local` instead of `hostpath` with local-path-provisioner, and I have these metrics:

* kubelet_volume_stats_available_bytes
* kubelet_volume_stats_capacity_bytes
* kubelet_volume_stats_inodes
* kubelet_volume_stats_inodes_free
* kubelet_volume_stats_inodes_used
* kubelet_volume_stats_used_bytes

The problem is still that metrics for all volumes return the same numbers when they are on

[2021-12-11 20:22] hlacikd opened #221 "create directory if missing"
Hello,

I have 2 nodes cluster on jetson arm64 platform. OS is on USB flash disk.

I am facing current situation :
local path provisioner will create directory (in my case /data) to fullfill pvc and create pv (bound).
Deployment using this persistent volume will start working.

Someone will accidentally missmatch USB flash disks . OS will start as well as k3s. However deployment will fail (volume

[2021-12-16 16:38] uablrek commented on #219
Got a similar problem. I replaced busybox with `alpine` then it worked;
[code]

[2021-12-22 20:08] kvaps commented on #137
Okay I prepared a new PR https://github.com/rancher/local-path-provisioner/pull/224

[2021-12-23 04:34] skyoo2003 commented on #214
@talcoh2x

The PR https://github.com/rancher/local-path-provisioner/pull/222 added a flag like '--worker-threads' to change provisioning concurrency. so, you can test it after the feature is released.

[2021-12-26 15:01] #214 closed

[2021-12-26 15:01] derekbit commented on #214
Already merged #222.

[2021-12-26 20:44] grapemix commented on #98
How about `helm install local-path-storage ./deploy/chart --set nodePathMap[0].node=DEFAULT_PATH_FOR_NON_LISTED_NODES --set nodePathMap[0].paths[0]=/data`?

[2021-12-30 11:54] YanekR opened #225 "Support for the volume capacity limitations"
Hi,

I currently start using lpp for sorting out mounts in optane disks as a cache, I was wondering if capacity limitations will be implemented. Currently lack of limitations might cause a cluster crashes what would not be acceptable in my solution.

Would you be able to provide any estimated timeframe for implementing this feature?

Thanks,
Jan

[2022-01-05 13:23] MAFLO321 commented on #21
Any updates on this?
What needs to be done?

[2022-02-01 13:15] #33 closed

[2022-02-02 09:30] dfoxg commented on #111
I pointed my local-path-provisioner-Path to an glusterfs-mount, so all of my files are available on all k8s-nodes. How can I configure the local-path-provider that the error `had volume node affinity conflict` does not appear?

[2022-02-09 21:38] nickbp opened #229 ""File name too long" errors when deleting Minio volumes with huge paths"
I had created a Minio instance in my k3s cluster and noticed that the `helper-pod-delete-pvc` pods were failing with errors like the following (output is shortened here and below to avoid flooding the ticket, but you get the idea):

It looks like the root cause is due to a lower max filename lengths in busybox.

I found that I was able to reproduce the error on the host machine via `busybox rm -rf

[2022-02-09 22:00] devinnasar commented on #85
👍

Bumping this again.

[2022-02-09 22:30] nickbp commented on #229
Seems like it's not necessarily the fault of the busybox image itself, despite getting a busybox-specific repro in the above description. I manually configured `HELPER_IMAGE=library/debian:11.2-slim` and am still seeing errors. It now says `cannot remove` rather than `can't stat` implying that it's indeed using GNU tools:

But again I was able to delete the directory just fine on the host, even sw

[2022-02-10 14:03] bauerjs1 commented on #181
I could reproduce the same issue with the helm chart from here: https://artifacthub.io/packages/helm/containeroo/local-path-provisioner

Any thoughts on this, somebody?

[2022-02-10 19:16] sidju opened #230 "Set the helm-chart directory's name to match the Chart.yaml"
As shown [here,](https://helm.sh/docs/topics/charts/) under "The chart file structure" the name of the chart directory should match the name of the chart.

Not following this convention makes using helm-git againts your repository impossible as far as I can tell, so this change would help compensate that you haven't published the chart in any helm repo.

[2022-02-11 09:51] vincent-herlemont commented on #84
If the PR https://github.com/rancher/local-path-provisioner/pull/119 is merged, this issue shouldn't be closed?

[2022-02-18 06:57] Jeremy-boo commented on #192
I had the same problem

[2022-02-19 13:50] retoo commented on #144
I was able to do it now with a more recent version.

steps:

* First apply restore the data to the defined path (see PV)
* apply the PV
* apply the PVC
* apply the STS (or scale up)

**I leave the ticket open, IMHO this could be documented.**

This is the pvc and pv config:

### PV
[code]

### PVC
[code]

and an example sts

### STS

[code]

[2022-02-20 11:37] samstride opened #232 "Provisioner on k3s switches namespace, config after reboot"
Hi,

Thanks for maintaining this repo.

I have installed the provisioner on a single node `k3s` cluster (home lab) using:

[code]

The provisioner originally installs itself in namespace `local-path-storage`.

However, after a node restart (power outage), the provisioner has deployments and configs setup in `kube-system` and the original  deployment fails with an error regarding service account pe

[2022-02-22 14:25] vincent-herlemont opened #233 "Add local-path-provisioner in helm dependency."
Regarding the documentation [Uninstall](https://github.com/rancher/local-path-provisioner#uninstall).

Following the documentation it's impossible to add local-path-provisioner in the same helm chart as an app because that conflicts with helm deletion order. And in some case, we don't want to delete data.

So, I have created a small proof of concept with a helm chart with local-path-provisioner as

[2022-03-02 22:06] w00jay commented on #200
seems https://github.com/rancher/local-path-provisioner/issues/214 allows configuring that now.

[2022-03-09 14:58] sidju commented on #230
Just realized my link didn't connect when I wrote the issue, so I've fixed that link now.

[2022-03-16 08:46] #165 closed

[2022-03-16 09:06] derekbit commented on #232
@samstride
Can you show the pods in your system by `k get pods -A | grep local-path-provisioner`?
BTW, k3s has already embedded the `local-path-provisioner`, so you can use it directly.

[2022-03-16 21:39] samstride commented on #232
@derekbit , thanks for responding.

When I installed `k3s`, don't think the local provisioner got installed.

I reinstalled the provisioner in `kube-system` now.

Here is the ouput you requested:

[code]

[2022-03-18 06:52] derekbit commented on #225
You can check the `example/quota` to see if it fits your expectation. But it only support `xfs`.

[2022-03-18 06:56] derekbit commented on #219
@HarborZeng @uablrek
I cannot reproduce it in my environment.
If possible, please provide more information or reproduce steps for finding out the root cause, thank you.

[2022-03-18 06:57] derekbit commented on #195
Can you check the log and the error messages in the help pod?

[2022-03-18 06:59] #211 closed

[2022-03-18 07:47] derekbit commented on #162
@killfill
Looks good. Are you ready for submitting a PR for ZFS example?

[2022-03-18 07:55] derekbit commented on #192
@maxianwei @Jeremy-boo
The helper pod cannot enter the `Succeeded` state.
If you encounter the timeout again, can you check the status and log of the helper pod?
[code]

[2022-03-18 14:54] killfill commented on #162
Hey @derekbit , well I would love to.

But I think some changes needs to be done previously.
Im actually using [these](https://github.com/killfill/local-path-provisioner/commit/c16b3b6dac0c7e15e6ef041674be0a7db93a244f) changes for my little setup, which works, but im not sure its going into the right direction.

[2022-03-19 06:11] HarborZeng commented on #219
@derekbit I am not using rancher anymore. sorry. I am closing this issue.

[2022-03-19 06:11] #219 closed

[2022-03-20 12:40] pzeinlinger opened #235 "Request: upgrade to v0.0.22"
The merge of #176 allows using this project for zfs backed pvs. In my opinion, this justifies a version bump.
What's your take on a new release @derekbit ? :smile:

[2022-03-20 13:44] derekbit commented on #235
@pzeinlinger
I will release 0.022 by the end of March.

[2022-03-20 13:53] pzeinlinger commented on #235
Thanks for the quick response. 😊
I’ll close this for now

[2022-03-20 13:53] #235 closed

[2022-03-21 01:01] #175 closed

[2022-03-21 23:42] zhxu73 opened #236 "bad image tag in deploy/local-path-storage.yaml"
The image tag didn't change in https://github.com/rancher/local-path-provisioner/blob/master/deploy/local-path-storage.yaml#L65 while the script in the configmap has changed to use env var for path. This would yield `VOL_DIR: param not set` error in the helper pod.

[2022-03-21 23:46] mgoltzsche commented on #179
To reproduce it, [start the local-path-provisioner binary](https://github.com/rancher/local-path-provisioner#debug-1) and try terminating it using Ctrl+c - it won't stop but logs `stop watching config file` and keeps hanging [here](https://github.com/rancher/local-path-provisioner/blob/v0.0.21/main.go#L237).
Therefore it seems to be an issue with [sig-storage-lib-external-provisioner](https://gith

[2022-03-22 00:44] derekbit commented on #236
@zhxu73
Thank you.
We will fix it soon. Before that, you can use the stable release https://github.com/rancher/local-path-provisioner/tree/v0.0.21.

[2022-03-22 00:54] mgoltzsche commented on #179
I updated the storage library dependency with #237 but it doesn't solve the termination issue unfortunately.

[2022-03-22 16:45] #230 closed, assigned to nobody

[2022-03-23 15:03] JBaptisme33 opened #239 "StorageClass CSI compatible"
Hello,

Thanks for work.
Is there a way to provider a CSI storageclass compatible with local-path ?

Aim goal is to support Snapshots (for Velero full backups since Restic mode is KO with local-path provisionner and hostPath mode)

I've already install snapshot-controller, build velero with right CSI conf.
Unfortunately, all my k3s PVC are related to local-path storageclass with is not  a CSI-one

[2022-03-24 15:08] zMcKracken opened #240 "unable to create a pv due to VOL_DIR: parameter not set"
I'm running rke2 version v1.22.7+rke2r2 in 3 nodes. Today I decide to reinstall my application and I'm not able to do it anymore due to a problem in claiming PV.
I have had never this problems before, and I think is due to an update on local-path-provisioner but I'm not sure I'm still a newbie about kube.

Anyway these are the commands I run before installing my solution:

    kubectl apply -f htt

[2022-03-24 15:14] derekbit commented on #240
Hello, I'm fixing the problem.
Please use v0.0.21 https://github.com/rancher/local-path-provisioner.git, thanks.

[2022-03-24 21:56] kervel commented on #62
Another usecase: per-node disk cache.

i have a workload that does an expensive computation and stores the results in a cache folder. The cache is then used by the same pod. For the cache to be performant, it needs to be local (it is a lot of data). A local-path volume would be ideal: without affinity, when the workloads gets scheduled on a new node, the cache would be empty on that node, which wo

[2022-03-25 07:32] ClenchPaign commented on #39
Hi @yasker , Same issue is happening for me as well. Is it because of the multi-node cluster?

[2022-03-25 12:46] vincent-pli commented on #240
`kubectl apply -f https://raw.githubusercontent.com/rancher/local-path-provisioner/v0.0.21/deploy/local-path-storage.yaml`

I tested it ,works well.

[2022-03-25 15:38] derekbit commented on #240
Hello all,
The deploy manifest in master branch is fixed.
The master branch is for development, so please use the v0.0.x (stable release) for production use.

[2022-03-25 15:38] #240 closed

[2022-03-25 17:28] derekbit commented on #239
For the backup with velero, you can refer to https://github.com/rancher/local-path-provisioner/issues/85.
I will check it when I am free. :)

[2022-03-25 19:26] killfill commented on #162
All right, adding the example file as a PR.
It actually needs the head-master tag, (and probably the next release v0.0.22).

Hope it helps.

[2022-03-26 02:25] derekbit commented on #162
@killfill
Sorry for the late reply. The PR Looks good. I will test it before merging it. Thank you!

[2022-03-27 23:59] DivyaKhatnaar commented on #39
Yes seeing the same for RKE2 cluster for backup-operator-pvc @cruizer @yasker

`Warning   ProvisioningFailed             persistentvolumeclaim/backup-operator-pvc                        failed to provision volume with StorageClass "local-path": failed to create volume pvc-a1a56725-86c9-49a3-9d8b-cd5a9b8f67d7: create process timeout after 120 seconds`

[2022-03-28 04:34] ClenchPaign commented on #39
This works now when using version 0.0.21 instead of master. Solution: https://stackoverflow.com/a/71605241/18577365

[2022-03-28 04:44] derekbit commented on #39
@ClenchPaign
The error in the stackoverflow ticket is fixed.
You can try the master branch as well, but 0.0.21 is the latest stable version.

[2022-04-05 22:36] ThomasSteinbach commented on #85
Had the same trouble with velero. Like this too 👍

[2022-04-06 09:56] cstruck commented on #107
it means that it can have up to the full storage capacity of the node the volume is created on

[2022-04-23 16:19] patrikbeno commented on #4
my findings:

[code]

subPath data seems to be persisted but outside the volume, which is obviously a bug.

[2022-05-02 11:21] kmjayadeep commented on #85
I made a fork with cherry picked commit from https://github.com/rancher/local-path-provisioner/pull/91 here: https://github.com/kmjayadeep/local-path-provisioner

Docker image is pushed to :
<https://hub.docker.com/repository/docker/kmjayadeep/local-path-provisioner>
`kmjayadeep/local-path-provisioner:velero-support`

I have tested velero backup using restic in my k3s setup and it seems to work fi

[2022-05-08 08:44] josepowera commented on #85
For anyone trying to move from hostPath to Local  type provisioner... The easy way to change config in k3s is:

to set to kmjaydeep fork
`
kubectl -n kube-system set image deployment/local-path-provisioner local-path-provisioner=kmjayadeep/local-path-
provisioner:velero-support
`

to go back to original (k3s 1.23 version)
`kubectl -n kube-system set image deployment/local-path-provisioner local-pa

[2022-05-09 08:09] varac commented on #85
Here's another fork which uses HostPath for persistent local storage: https://open.greenhost.net/stackspin/local-path-provisioner/

* Helm chart repo: https://open.greenhost.net/api/v4/projects/44/packages/helm/stable
* [Container images](https://open.greenhost.net/stackspin/local-path-provisioner/container_registry/88)

[2022-05-24 21:59] #41 closed

[2022-05-30 12:36] lukasz-bielinski commented on #208
Hi, do you have any estimates for adding probes?

[2022-05-31 12:42] sushiMix commented on #41
Hello, sorry for being late, but I have a similar issue.
I read all the elements above but I noticed something in Kubernetes PV. There are two similar elements (hostPath and local) in PV. Accordingly to documentation local are handling directories (like hostPath) but it seems that the code manage the file ownership in the Kubelet code (which could solve the fsGroup issue). https://github.com/kuber

[2022-06-03 10:16] Moosemorals opened #248 "[Question] Using loopback device to manage space"
Hi folks,
  I'm looking for help/advice on adapting the setup/teardown scripts to create loopback devices as disks, to put a hard limit on the space allocated for each volume.

My current rough idea looks like the scripts below (which have only had very light testing so far).

Mostly, I'm looking for someone to tell me what obvious thing I'm missing that means this hasn't been done already.

Thank

[2022-06-06 08:43] sushiMix opened #249 "[Question] fsGroup Support"
I read the interesting ticket #41 about it. It seems the fsGroup can't be natively supported.
I dig a bit in the kubernetes PersitentVolumes and found that using local (https://kubernetes.io/docs/concepts/storage/volumes/#local since kubernetes 1.14) instead of hostPath will allow Kubelet to manage the fsGroup support instead of trying to implement a specific CSI for hostPath. https://github.com/k

[2022-06-08 01:59] heyu1207 opened #250 "Storage capacity support"
Can local-path-provisioner support the strorage capacity tracking?
I can't use kubectl to list the CSIStorageCapacity resource which is mentioned by the docs of kubernetes: [https://kubernetes.io/docs/concepts/storage/storage-capacity/](url)

[2022-06-16 20:45] laverya commented on #85
The code change is still really remarkably small - would it be a plausible path forwards to allow configuring whether to use Local Volumes vs HostPaths as part of the config? That way RKE could keep using HostPath while allowing us Velero users to make backups.

[2022-06-20 06:45] nishit93-hub commented on #31
Hi,

Can we auto-assign each cluster node to the pods when we scale -up using Statefulset instead of setting up **node selector**

[2022-06-21 20:18] laverya commented on #85
If that is a path forwards that the maintainers would like (@yasker?) I'm happy to implement it!

[2022-06-22 05:20] derekbit commented on #250
Need more investigation. But the first thought came to my mind is that if the volumes on the same filesystem, is it possible to get the storage capacity of each volume correctly?

[2022-06-22 05:23] derekbit commented on #248
Looks good. Is there any hindrance in the setup/teardown scripts?

[2022-06-25 07:51] zhfg opened #254 "Does local-path super multiple sc for deffrence performance disk"
I have hdd and ssd installed in host server.
I want create two k8s storageclass to support for both hdd and ssd to adapt different performance requirement.
Is local-path supported this and how to do with it

[2022-06-25 14:21] aintbrokedontfix opened #255 "use provsioner w/o specifying pvc"
Is there an example of how to use the provisioner in a PodTemplate? For example using NFS storage in a pod template could look like this:

[code]

[2022-06-28 18:00] wojtasool commented on #254
I would say that you can create 2 or more installations of Local Path Provisioners each with different disks configured and with different names for each Storage Class. This way you can reference different disk types using specific SC.

[2022-06-30 09:07] zhfg commented on #254
Thanks for your replay,
I can not found any documents about what you told me. for example, how to define provisioner myself.
I will do more research. and left a update i get any move forward

[2022-07-01 08:24] huija opened #256 "Database file not found when using Postgres"
1. deploy Postgres on k3s
2. cd local path, cd data and would see nothing
![image](https://user-images.githubusercontent.com/28639514/176855400-68576198-30fc-4367-ac77-e015ec03d557.png)
3. cd pod's mount path, cd data and would see files expected.
![image](https://user-images.githubusercontent.com/28639514/176855505-2707bceb-b793-41d1-a09f-df20cfcd6c2c.png)
4. touch some file in local path or pod'

[2022-07-01 08:24] huija commented on #256
$ cat postgres-pvc.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-5432-pvc
  namespace: middlewares
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 512Mi
  storageClassName: "local-path"

[2022-07-01 08:25] huija commented on #256
[code]

[2022-07-01 08:39] huija commented on #256
[code]
if I mount the local path to pg's data dictionary, I can see the files.
![image](https://user-images.githubusercontent.com/28639514/176858308-de6a1ac2-85e1-4999-ad31-1fb40ea579f0.png)

[2022-07-01 09:00] huija commented on #256
Events seem no problem.
![image](https://user-images.githubusercontent.com/28639514/176862235-923be7a4-f97b-4e02-9a8a-771131f3fb3e.png)

[2022-07-04 05:58] ccll opened #257 "[Question] Spread PVC over all host paths"
The doc says:
![image](https://user-images.githubusercontent.com/5366582/177089947-76259adb-cbe9-4f83-985d-6146f3d6d62c.png)

Image I have 3 NVMEs and I'd like to deploy 3 database instances on the node, which was replicaed internally by the DBMS, naturally the 3 PVs should be provisioned on each NVME.

So are there any way to do anti-affinity like this? Maybe a simple round-robin policy (instead

[2022-07-04 06:02] ccll commented on #257
Looks there were some discussions on this topic #151.

[2022-07-04 06:35] ccll commented on #151
@innobead I'd like to contribute to this feature if it's not too complicated, and I'm glad to get some guidence.

The first intuition after glanced the code:
1. Add a per-node ConfigMap option like `policy` to choose between `random` and `round-robin`, etc.
2. Store the runtime per-node current round-robin index in some variable somewhere.
3. Implement a `getRoundRobinPathOnNode()`.
4. Call `getRa

[2022-07-06 02:58] gunzy83 commented on #193
This is how I did it:
[code]
The key points are from this [link](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reserving-a-persistentvolume):

* ensure there is a `claimRef` in your PV to pre-bind it to your PVC.
* use the `volumeName` and a blank `storageClassName` in the PVC to ensure it uses the volume as is.

Let me know if that helps.

[2022-07-06 16:06] plasorak commented on #163
Hi, I'm running in the same issue.

Could you be a bit more precise? Which DeamonSet are you talking about?

I'm not sure I understand why putting a `path: []` for the default nodes shouldn't work. Am I correct in assuming that if you created manually a pair of PV/PVC, the pod that uses it will run on a node which is able to satisfy this claim? If so why shouldn't this work? I'd like to avoid havi

[2022-07-15 16:33] lemker opened #258 "[Question] Disable or configure PVName"
For my use-case, would it be possible to either disable PVName in the Hostpath path or manually configure a consistent value?
Currently, PVName (random UID) is used in the path, ideally the name should be: `pvc_<namespace>_<pvc_name>`

Thanks!

[2022-07-19 03:43] qianyidui commented on #254
apiVersion: v1
kind: Namespace
metadata:
  name: local-path-storage-ssd

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: local-path-provisioner-service-account
  namespace: local-path-storage-ssd

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: local-path-provisioner-role-ssd
rules:
  - apiGroups: [ "" ]
    resources: [ "nodes", "persistentvolumeclaims",

[2022-07-19 03:44] qianyidui commented on #254
apiVersion: v1
kind: Namespace
metadata:
  name: local-path-storage-ssd

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: local-path-provisioner-service-account
  namespace: local-path-storage-ssd

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: local-path-provisioner-role-ssd
rules:
  - apiGroups: [ "" ]
    resources: [ "nodes", "persistentvolumeclaims",

[2022-07-19 03:45] qianyidui commented on #254
change

[2022-07-19 03:55] chenyg0911 commented on #232
some problem with "v1.22.5+k3s1". I update the local-path-config configmap to use the other disk volume    other than the default patch.  When retart the pods "local-path-provisioner-xxxx", it OK. But when restart the k3s, it restore to default path "/var/lib/rancher/k3s/storage". I also try to update the config under /var/lib/rancher/k3s/server/manifests/local-storage.yaml. the effect is the same

[2022-07-24 15:07] travisghansen commented on #70
I have a local hostpath driver as part of my project here: https://github.com/democratic-csi/democratic-csi

It does allow rwx but implicitly pins the volume through topology should crazy scenarios come up (ie: it’s safe to use in multi-node clusters as well).

[2022-08-20 20:56] ugur99 commented on #44
As discussed above, using local type volumes has some limitations and some of them are listed on [sig-storage-local-static-provisioner best practices](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/best-practices.md); on the other hand, currently, there is no such integration to get usage metrics of hostpath type volumes.

As a workaround, I wrote a simple

[2022-08-23 03:42] ChenJhua opened #261 "Why did not add cpu, memory limit? Can I add this parameter?"
Hello, I use local-storage here and find that request and limit are not set. I am worried that the resources exceed the limit. I want to ask why there are no such parameters?
Can i add these parameters?
If so, how much CPU and memory are recommended here?

[2022-08-24 02:06] ChenJhua commented on #261
@dittos @ereslibre @flavio @ekristen
Hello, can you help me with my question? thank you

[2022-08-24 08:09] ChenJhua opened #262 "use worker-threads have error"
when i use
[code]
when i use string
[code]

i retry helm install use deploy chart, have `cannot unmarshal number` error

kubernetes: 1.23.9
docker:18.09.0

[2022-08-30 06:45] ChenJhua commented on #262
@dittos can you tell me what is the problem

[2022-09-03 19:50] sassyn opened #263 "Pending"
ubuntu 22.04.1

kubeadm version: &version.Info{Major:"1", Minor:"25", GitVersion:"v1.25.0", GitCommit:"a866cbe2e5bbaa01cfd5e969aa3e033f3282a8a2", GitTreeState:"clean", BuildDate:"2022-08-23T17:43:25Z", GoVersion:"go1.19", Compiler:"gc", Platform:"linux/amd64"}

run:
kubeadm init

kubectl version
WARNING: This version information is deprecated and will be replaced with the output from kubectl versi

[2022-09-20 16:15] jhoblitt commented on #4
I also just ran into this unwittingly in `v0.0.22`. If there is warning in the docs about `subpath`, I didn't find it.

If this isn't going to be fixed, how about using a webhook to reject `subPath`?

[2022-09-24 05:01] #85 closed

[2022-09-24 13:46] derekbit commented on #262
@ChenJhua
Sorry for late reply
This line is incorrect and not necessary.
[code]

The expamle should work
[code]

[2022-09-24 13:47] derekbit commented on #262
Feel free to open it if there is any question. Thank you.

[2022-09-24 13:47] #262 closed

[2022-09-24 13:53] derekbit commented on #258
No, it is not supported.
The name is actually from the PVC's uid.

[2022-09-28 13:11] Azuna1 opened #265 "failed to create volume pvc-cf3ec07d, create process timeout after 120 seconds"
Hello everyone,
Using https://raw.githubusercontent.com/rancher/local-path-provisioner/v0.0.22/deploy/local-path-storage.yaml
I have setup the local-path-provisioner for a mounted NFS share called /mnt/sharedstorage. it is accessible and writeable by all nodes.
any idea whats causing the timeout?

[code]

[2022-10-07 08:35] derekbit commented on #265
@Azuna1 I didn't see the timeout issue in my env. Can you provide the steps for reproducing it?

[2022-10-17 03:13] dashjay opened #266 "Can provisioner detect disk size of hostPath?"
config for local-path
[code]
size of nvme is 4Ti

then I find that two 4Ti pv were create on one nvme

[code]

I don't know if it can get the disk capacity to create pv on disk correctly

[2022-10-20 14:04] iaroslav-nakonechnikov commented on #221
with 0.22 this is already working as subject says.

so looks like issue may be closed

[2022-10-20 14:06] iaroslav-nakonechnikov commented on #215
with 0.22 this is still actual issue.

if node gets cycled (terminated, and new one started) - pvc is not being recreated, which leads to service outage. pods can't start with old pvc, because node was deleted.

[2022-10-24 15:10] FaniD opened #267 "New release"
Hello,

Thanks for your work!

Should we be expecting a new release so that we can make use of any recent changes? We're especially interested on the updates of the helper-pod configuration on the helm chart.

[2022-10-24 15:21] #267 closed

[2022-10-24 17:08] surajpmohanan opened #268 "CVE-2022-37434"
zlib through 1.2.12 has a heap-based buffer over-read or buffer overflow in inflate in inflate.c via a large gzip header extra field.
Remediation: Upgrade package zlib to version 1.2.12-r2 or above.

[2022-10-24 18:35] oblogic7 commented on #215
We are running into this same issue with spot instances.  Any time a node disappears, pods fail to schedule onto the replacement due to node volume affinity.  The pod wants to be scheduled where the volume is available, but it is no longer available since the node is gone.

I think the provisioner needs to monitor node list and clean up any volumes for a node when it is no longer available.

[2022-10-25 02:47] derekbit commented on #268
The zlib will be updated in v0.0.23. Thank you.

[2022-10-25 11:47] #268 closed

[2022-10-25 11:48] derekbit commented on #267
v0.0.23 is released. Thank you and any feedback is appreciated.

[2022-10-25 11:56] derekbit commented on #266
No, local-path provisioner is based on the hostPath volume, the disk capacity request is not respected.

[2022-10-25 12:00] derekbit commented on #261
I don't think memory is a concern in local-path provisioner. But smaller CPU limit might result in the mount timeout if system is busy.

[2022-10-26 19:51] AnthonyEnr1quez commented on #85
Linking a project I made to help me migrate my home-lab cluster volumes to use local volume types. Has the ability to update the pvcs defined on flux/k3d helm chart resources.

Here is the repo: https://github.com/AnthonyEnr1quez/local-path-provisioner-volume-converter

Can be ran using the binary in the repo releases.

Make sure to back up any data that you don't want to lose before using. I have

[2022-10-26 19:53] AnthonyEnr1quez commented on #239
@derekbit possibly can be closed due to #260?

[2022-10-28 10:54] benzman81 commented on #249
Just tried Local Path Provisioner v0.0.23 and with the annotation it works (see examples).

[2022-10-28 10:54] benzman81 commented on #41
Just tried Local Path Provisioner v0.0.23 and with the annotation it works (see examples).

[2022-10-30 04:26] meln5674 opened #274 "[Bug] [Helm] sharedFilesystemPath Missing"
The config.json field sharedFilesystemPath is [not set in the ConfigMap template](https://github.com/rancher/local-path-provisioner/blob/master/deploy/chart/local-path-provisioner/templates/configmap.yaml#L10), despite [being present in the values.yaml](https://github.com/rancher/local-path-provisioner/blob/master/deploy/chart/local-path-provisioner/values.yaml#L67). This means that instances depl

[2022-10-30 05:39] derekbit commented on #274
Thank you for the fix. I think we should generate the deply manifest from the heml chart to avoid this kind of bug in the future

[2022-10-31 05:27] dashjay commented on #266
thanks

[2022-10-31 05:27] #266 closed

[2022-11-01 10:36] johnwuwuwuwu opened #276 "Static Persistence to create oracle database failed using oracle database operator"
I am using oracle database operator to create a database. Using Dynamic Persistence I can create database normally. But with Static Persistence, I am unable to create the database. I first create the PVC using the example PVC.YAML and POD.YAML. then I change the volumeName of singleinstancedatabase.yaml to volv. but the creation fails. I have tried pvc-041b78a4-74c4-4ad5-8097-74163bd9af44_default_

[2022-11-14 11:24] PeaceRebel opened #277 "Helper pod fails on nodes running fedora coreos"
I have a rpi node running coreos. Local provisioner runnning on the same ns as the pod and pvc. The helper pod that's created in this node goes to Error state immediately after containter is created. I couldn't find any useful logs. Provisioning is successful on another node on the same cluster running debian.

[2022-11-14 23:05] brandond commented on #277
It might help if you provided whatever logs the pod DOES output, along with the output of `kubectl describe pod` on the pod immediately after it goes into the error state.

[2022-11-15 05:32] PeaceRebel commented on #277
### Helper pod logs:

[code]

### Logs of local-path-provisioner contains these:

[code]

[2022-11-15 06:12] brandond commented on #277
Can you get the logs from the helper pod as well?

[2022-11-15 07:07] liupeng0518 commented on #195
same err.

[2022-11-15 07:13] PeaceRebel commented on #277
`kubectl logs` says it cannot find the log file. Can I get it any other way?

[2022-11-15 07:46] PeaceRebel commented on #277
Got the logs from the container.
[code]

[2022-11-15 09:54] PeaceRebel commented on #277
So, the issue is what I thought it was. The install script doesn't install the packages on coreos. container-selinux version 2.190.0-1 is installed. k3s-selinux requires version < 2.164.2

[2022-11-15 10:19] brandond commented on #277
Which version of the package are you trying? It should require 2.167.0 or newer.

https://github.com/k3s-io/k3s-selinux/blob/master/policy/centos8/k3s-selinux.spec#L19

Are you not using the most recent release?
https://github.com/k3s-io/k3s-selinux/releases/tag/v1.2.stable.2

[2022-11-15 10:24] PeaceRebel commented on #277
The install script shows: https://rpm.rancher.io/k3s/stable/common/centos/8/noarch/k3s-selinux-0.4-1.el8.noarch.rpm

[2022-11-15 11:25] PeaceRebel commented on #277
Installed the latest version from github. Had to reinstall k3s to make it work.

[2022-11-15 16:52] IlyaSemenov commented on #4
I switched to https://github.com/openebs/dynamic-localpv-provisioner which supports subPath just fine.

[2022-11-16 08:13] PeaceRebel commented on #277
Closing as it was resolved. Needs to update k3s install script to fix the version mentioned in the logs

[2022-11-16 08:13] #277 closed

[2022-11-17 14:41] loganmarchione opened #279 "Added annotation for `local`, but volume is still `HostPath`"
Wanted to clarify something. I intended to use `local` instead of `HostPath`. Looking at the examples (below), the only difference is the addition of the annotation ` volumeType: local`.

- [local](https://github.com/rancher/local-path-provisioner/blob/master/examples/pvc-with-local-volume/pvc.yaml)
- [hostPath](https://github.com/rancher/local-path-provisioner/blob/master/examples/pvc/pvc.yaml)

[2022-11-22 13:56] lholota commented on #254
I'm currently hitting the same thing, tbh this feels like it's semantically wrong. The definition of storage class is exactly to define classes of storage (i.e. fast=ssd, slower=hdd etc.).

I believe the provisioner should take the paths from the **storage class** definition rather than from the centralized config map. This way the paths/sharedFileSystemPath could be defined per storageClass and y

[2022-11-24 04:08] patsevanton commented on #89
any update ?

[2022-11-26 08:31] kskalski opened #280 "Support ReadWriteOncePod access mode"
Looks like the proper way to ensure single-pod access to volume is using a new `ReadWriteOncePod` [access mode](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes) introduced [here](https://kubernetes.io/blog/2021/09/13/read-write-once-pod-access-mode-alpha/) in Kubernetes 1.22

It would be nice to have this supported in `local-path-provisioner`

Now I'm getting this erro

[2022-11-27 12:56] cr1st1p opened #281 "helm chart: helperPod - fix documentation or fix back setup (better)"
It looks like at a certain point you removed the possibility to completely define the helper pod definition, while you actually kept the helm chart's README.md still mentioning it.
Please do  one of:
a) fix the README.md and document helperImage value (and remove configmap.helperPod),
b)  revert back that change  (7a557125c7bf523d51fc55510fc5478268607fcc)
c) allow adding helper pod annotations

Pr

[2022-11-27 15:25] cr1st1p commented on #281
For c), maybe add something along (untested if not defined):
....
      name: helper-pod
      {{ if .Values.helperImage.annotations }}
      annotations:
{{ .Values.helperImage.annotations | toYaml | nindent 8  }}
      {{ end }}
    spec:
....

[2022-11-30 09:05] kerthcet commented on #280
+1, RWOP is graduating to Beta in v1.27 https://github.com/kubernetes/kubernetes/issues/103132.